@using LinoVative.Shared.Dto.MasterData.Payments
@using LinoVative.Shared.Dto.OrderTypes
@using LinoVative.Shared.Dto.Outlets
@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Pages.POSSettings.Transactions.Shared
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.InputComponents.Dropdowns.SingleDropdown
@using Linovative.Frontend.POSComponents.Pages.POSSettings.Outlets.Shared
@using LinoVative.Shared.Dto.MasterData.Shifts

@attribute [Route(PageRoutes.PostManagement.PosSettings.Trasactions.Payments.BankNoteAdd)]
@attribute [Route(PageRoutes.PostManagement.PosSettings.Trasactions.Payments.BankNoteUpdate)]
@inherits POSManagementPageBase
@layout PosLayout

@inject IJsonLocalizer _loc
@inject ITopBarService _topBarService
@inject IApplicationStateService _state
@inject IBankNoteService _service
@inject IDialogService _dialogService
@inject IMapper _mapper
@inject IAppNavigationService _nav
@inject IGlobalMessage _globalMessage
@inject IOutletService _outletService
@implements IDisposable

<LinovativePageTitle Title="@EntityPluralName" />
<PaymentBreadcrumb Childs="@(new() { new BreadcrumbItem(EntityPluralName, href: PageRoutes.PostManagement.PosSettings.Trasactions.Payments.BankNotes) })" />
<PaymentTabs SelectedTab="PaymentTabs.Tabs.BankNote" />
<CrudButtons PageMode="@(Id is null ? PageModes.Create : PageModes.Update)"
             OnSave="@Save"
             OnCancel="@(()=> _nav.NavigateTo(PageRoutes.PostManagement.PosSettings.Trasactions.Payments.BankNotes))"
             IsFormSubmitting="isFormSubmitting" />
<LinovativeGap />


<MudText Typo="Typo.h6">@(Id is null ? ADD : UPDATE) @EntityName</MudText>

<MudGrid>
    <MudItem xs="12" sm="6" lg="4">

        <AppErrorAlert AutoClose="false" @ref="@formErrorAlert" />
        <LinovativeGap />

        <MudForm @ref="form" @bind-IsValid="@isFormValid" @bind-Errors="@formErrors" @onkeypress="@OnFormKeyPress">

            @if (loaded)
            {
                <LinovativeTextBox Value="@item.Note"
                                   ValueChanged="@(x => item.Note = x)"
                                   T="decimal?"
                                   IsRequired="true"
                                   InputType="InputType.Number"
                                   Errors="@formResponse?.Errors"
                                   LocalizerResource="@LocalizerResource"
                                   LocalizerKey="Note" />
            }
            else
            {
                <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
            }


        </MudForm>
    </MudItem>
</MudGrid>


<LinovativeGap />
<LinovativeGap />
<MudText Typo="Typo.h6">@Label("OutletSettingsSection")</MudText>
<LinovativeGap />

@if (loaded)
{
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Expanded="true" Text="@Label("OutletSettings")">
            @foreach (var outlet in _outletBankNotes.OrderBy(x => x.Key.Name))
            {
                <div class="d-flex"><MudSwitch @bind-Value="@outlet.Value.IsActive" Label="@outlet.Key.Name" Color="Color.Info" /></div>
                <LinovativeGap />
            }
        </MudExpansionPanel>
    </MudExpansionPanels>
}
else
{
    <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
}



@code {
    [Parameter] public string? Id { get; set; }

    protected override string LocalizerResource => nameof(BankNotesPage);
    protected override string EntityName => JsonLocalizer[$"{LocalizerResource}.Entity.Name.Single"];
    protected override string EntityPluralName => JsonLocalizer[$"{LocalizerResource}.Entity.Name.Plural"];

    private List<BankNoteDto> selectedItems { get; set; } = new();
    private CancellationTokenSource cts { get; set; } = new();
    private BankNoteInputDto item { get; set; } = new();
    private bool isFormValid { get; set; }
    private string[] formErrors { get; set; } = { };
    private MudForm? form { get; set; }
    private Response? formResponse { get; set; } = null;
    private bool isFormSubmitting { get; set; }
    private AppErrorAlert? formErrorAlert { get; set; }
    private bool selectedAll { get; set; }
    private List<BankNoteDto> dataSource { get; set; } = new();
    private bool loaded { get; set; }
    private List<OutletViewDto> _outlets { get; set; } = new();
    private List<KeyValuePair<OutletViewDto, OutletBankNoteDto>> _outletBankNotes { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        isFormSubmitting = true;
        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;
        _state.OnChange += GenerateData;
        _topBarService.SetTitle(EntityPluralName);
        await LoadData();
        isFormSubmitting = false;
        loaded = true;
        _state.NotifyStateChanged();
    }


    void OnFormKeyPress()
    {
        formResponse = null;
        formErrorAlert?.HideAlert();
        _state.NotifyStateChanged();
    }

    private Guid? TestGuid { get; set; }

    async Task TestOnBlur()
    {
        TestGuid = Guid.NewGuid();
        _state.NotifyStateChanged();
        await Task.CompletedTask;
    }

    async Task Reset()
    {
        item = new();

        formResponse = null;
        isFormSubmitting = false;
        selectedItems = new();
        selectedAll = false;
        await HideAllAllert();
        _state.NotifyStateChanged();
    }

    async Task HideAllAllert()
    {
        if (form is not null) await form.ResetAsync();
        formErrorAlert?.HideAlert();
    }

    Task Save()
    {
        form!.Validate();

        if (!isFormValid)
            return Task.CompletedTask;

        if (Id is null)
            return SaveNew();

        return SaveUpdate();
    }

    async Task SaveNew()
    {
        isFormSubmitting = true;
        formResponse = await _service.Create(item, cts.Token);
        if (formResponse)
        {
            await Reset();
            _globalMessage.SetSuccessMessage(CreatedSuccessMessage);
            _nav.NavigateTo(PageRoutes.PostManagement.PosSettings.Trasactions.Payments.BankNotes);
            return;
        }

        isFormSubmitting = false;
        formErrorAlert!.ShowAlert(formResponse);
    }

    async Task SaveUpdate()
    {
        isFormSubmitting = true;
        formResponse = await _service.Update(item, cts.Token);
        if (formResponse)
        {
            await Reset();
            _globalMessage.SetSuccessMessage(UpdateSuccessMessage);
            _nav.NavigateTo(PageRoutes.PostManagement.PosSettings.Trasactions.Payments.BankNotes);
            return;
        }

        isFormSubmitting = false;
        formErrorAlert!.ShowAlert(formResponse);
    }


    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
        _state.OnChange -= GenerateData;
    }

    async Task LoadData()
    {
        var outletTasks = _outletService.GetAll(cts.Token);
        if (Id is null)
        {
            _outlets = (await outletTasks).Data!;
            return;
        }

        var bankNoteTask = _service.GetForUpdate(new Guid(Id), cts.Token);

        await Task.WhenAll(outletTasks, bankNoteTask);

        _outlets = (await outletTasks).Data!;
        item = (await bankNoteTask).Data!;
    }

    void GenerateData()
    {
        Func<OutletViewDto, OutletBankNoteDto> getBankNote = (outlet) =>
        {
            var data = item.OutletBankNotes.FirstOrDefault(x => x.OutletId == outlet.Id);
            if (data is not null) return data;

            data = new OutletBankNoteDto()
            {
                OutletId = outlet.Id,
                BankNoteId = item.Id,
                IsActive = false,
            };
            item.OutletBankNotes.Add(data);
            return data;
        };

        _outletBankNotes = _outlets.Select(x => new KeyValuePair<OutletViewDto, OutletBankNoteDto>(x, getBankNote(x))).ToList();
    }

}
