@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Pages.POSManagements.Items.Items.Shared
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.InputComponents.Dropdowns.SingleDropdown
@using Linovative.Frontend.Shared.InputComponents.FilterComponents
@using Linovative.Frontend.Shared.Extensions

@attribute [Route(PageRoutes.PostManagement.ItemMaster.ItemAdd)]
@attribute [Route(PageRoutes.PostManagement.ItemMaster.ItemUpdate)]
@inherits POSManagementPageBase
@layout PosLayout

@inject IJsonLocalizer _loc
@inject ITopBarService _topBarService
@inject IApplicationStateService _state
@inject IItemService _service
@inject IDialogService _dialogService
@inject IMapper _mapper
@inject IAppNavigationService _nav
@inject IGlobalMessage _globalMessage

<LinovativePageTitle Title="@EntityPluralName" />
<ItemsBreadcrumb Childs="@(new() { new BreadcrumbItem(EntityName, href: PageRoutes.PostManagement.ItemMaster.Item) })" />
<ItemTabs SelectedTab="ItemTabs.Tabs.Item" />
<div class="d-flex">
    <CrudButtons PageMode="@(Id is null ? PageModes.Create : PageModes.Update)"
                 OnSave="Save"
                 OnCancel="@(() => _nav.NavigateTo(PageRoutes.PostManagement.ItemMaster.Item))"
                 IsFormSubmitting="isFormSubmitting">
    </CrudButtons>
    <MudSpacer />
    <ItemsExtraMenu />
</div>
<LinovativeGap />


<MudGrid>
    <MudItem xs="12" sm="4" lg="4" Class="">
        <div class="d-flex">
            <MudText Typo="Typo.h6">@(Id is null ? ADD : UPDATE) @EntityName</MudText>
            <MudSpacer />
            <div class="d-flex"><MudSwitch @bind-Value="@item.IsActive" Label="@Label("IsActive")" Color="Color.Info" /></div>
        </div>
    </MudItem>
</MudGrid>






<AppErrorAlert AutoClose="false" @ref="@formErrorAlert" />
<LinovativeGap />


<MudGrid>

    <MudItem xs="12" sm="4" lg="4" Class="">

        <MudForm @ref="form" @bind-IsValid="@isFormValid" @bind-Errors="@formErrors" @onkeypress="@OnFormKeyPress">
            @if (loaded)
            {

                <LinovativeInputText @bind-Value="@item.Name"
                                     Id="item_name"
                                     IsRequired="true"
                                     Disabled="@(!item.IsActive)"
                                     Errors="@formResponse?.Errors"
                                     LocalizerResource="@LocalizerResource"
                                     LocalizerKey="@nameof(ItemDto.Name)" />

                <LinovativeGap />
                <ItemCategoryDropdown Value="@itemCategory"
                                      ValueChanged="@(x => {itemCategory = x; item.Category = x; item.CategoryId = x?.Id; })"
                                      Id="item_category"
                                      Required="true"
                                      Disabled="@(!item.IsActive)"
                                      Errors="@formResponse?.Errors"
                                      LocalizerResource="@LocalizerResource"
                                      LocalizerKey="@nameof(ItemDto.CategoryId)" />

            }
            else
            {
                <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
                <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
            }

        </MudForm>
    </MudItem>



    <MudItem xs="12" sm="4" lg="4" Class="">
        <MudForm @ref="form" @bind-IsValid="@isFormValid" @bind-Errors="@formErrors" @onkeypress="@OnFormKeyPress">
            @if (loaded)
            {
                <LinovativeInputText @bind-Value="@item.Notes"
                                     Id="item_description"
                                     Disabled="@(!item.IsActive)"
                                     Errors="@formResponse?.Errors"
                                     Lines="5"
                                     LocalizerResource="@LocalizerResource"
                                     LocalizerKey="@nameof(ItemDto.Notes)" />


            }
            else
            {
                <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
                <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
            }

        </MudForm>

    </MudItem>


    <MudItem xs="12" sm="12" lg="12">
        @if (loaded)
        {
            <div class="d-flex">
                <div class="d-flex"><MudSwitch Disabled="@(!item.IsActive)" @bind-Value="@item.CanBePurchased" Label="@Label("CanBePurchased")" Color="Color.Info" /></div>
                <LinovativeGap />
                <div class="d-flex ms-3"><MudSwitch Disabled="@(!item.IsActive)" @bind-Value="@item.CanBeSell" Label="@Label("CanBeSale")" Color="Color.Info" /></div>
            </div>
        }
    </MudItem>
</MudGrid>


@if (loaded)
{
    <SKUItemVariantComponent @ref="@SKUItemVariantComponent" Item="@item" />
}
else
{
    <MudSkeleton Width="100%" Height="56px;" Class="mb-5" Style="transform: scale(1, 1)" />
}

<LinovativeGap Height="50" />
<MudText Typo="Typo.h6">@Label("ItemSettingsSection")</MudText>
<LinovativeGap />
@if (loaded)
{
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="@Label("PurchaseSettingSection")" Disabled="@(!item.CanBePurchased || !item.IsActive)">
            <MudGrid>
                <MudItem xs="12" sm="6" lg="4">
                    <PurchaseSettings Item="@item" Result="@formResponse" />
                </MudItem>
            </MudGrid>
        </MudExpansionPanel>
    </MudExpansionPanels>
}
else
{
    <MudSkeleton Width="100%" Height="56px;" Class="border-b-1 mb-1" Style="transform: scale(1, 1)" />
    <MudSkeleton Width="100%" Height="56px;" Class="border-b-1 mb-1" Style="transform: scale(1, 1)" />
    <MudSkeleton Width="100%" Height="56px;" Class="border-b-1 mb-1" Style="transform: scale(1, 1)" />
}



@code {

    [Parameter] public string? Id { get; set; }

    protected override string LocalizerResource => nameof(ItemsPage);
    protected override string EntityName => JsonLocalizer[$"{LocalizerResource}.Entity.Name.Single"];
    protected override string EntityPluralName => JsonLocalizer[$"{LocalizerResource}.Entity.Name.Plural"];

    private List<ItemViewDto> selectedItems { get; set; } = new();
    private CancellationTokenSource cts { get; set; } = new();
    private ItemInputDto item { get; set; } = new() { SKUItems = new() { new() { IsActive = true, VarianName = "-" } } };
    private bool isFormValid { get; set; }
    private string[] formErrors { get; set; } = { };
    private MudForm? form { get; set; }
    private Response? formResponse { get; set; } = null;
    private bool isFormSubmitting { get; set; }
    private AppErrorAlert? formErrorAlert { get; set; }
    private bool selectedAll { get; set; }
    private List<ItemViewDto> dataSource { get; set; } = new();
    private bool showFilter;
    private bool loaded { get; set; } = false;
    private SKUItemInputDto? defaltSKUItem;
    private SKUItemVariantComponent? SKUItemVariantComponent { get; set; }
    private ItemCategoryDto? itemCategory { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;
        _topBarService.SetTitle(EntityPluralName);
        if (Id is not null) await LoadData();
        loaded = true;
    }


    void OnFormKeyPress()
    {
        formResponse = null;
        formErrorAlert?.HideAlert();
        _state.NotifyStateChanged();
    }


    async Task Reset()
    {
        item = new();

        formResponse = null;
        isFormSubmitting = false;
        selectedItems = new();
        selectedAll = false;
        _state.NotifyStateChanged();
    }


    Task Save()
    {
        form!.Validate();

        if (!isFormValid)
            return Task.CompletedTask;

        if (Id is null) return SaveNew();

        return SaveUpdate();
    }


    async Task SaveNew()
    {
        isFormSubmitting = true;

        formResponse = await _service.Create(item, cts.Token);
        if (formResponse)
        {
            await Reset();
            _globalMessage.SetSuccessMessage(CreatedSuccessMessage);
            _nav.NavigateTo(PageRoutes.PostManagement.ItemMaster.Item);
            return;
        }

        isFormSubmitting = false;
        formErrorAlert!.ShowAlert(formResponse);
    }


    async Task SaveUpdate()
    {
        isFormSubmitting = true;

        formResponse = await _service.Update(item, cts.Token);
        if (formResponse)
        {
            await Reset();
            _globalMessage.SetSuccessMessage(UpdateSuccessMessage);
            _nav.NavigateTo(PageRoutes.PostManagement.ItemMaster.Item);
            return;
        }

        isFormSubmitting = false;
        formErrorAlert!.ShowAlert(formResponse);
    }



    async Task LoadData()
    {
        var itemRequest = await _service.GetForUpdate(new Guid(Id!), cts.Token);
        var itemView = itemRequest.Data!;
        itemCategory = new ItemCategoryDto() { Id = itemView.CategoryId.Value, Name = itemView.Category?.Name };
        item = itemView;
    }


}
