@inject IApplicationStateService _state
@typeparam TItem
@inherits SearchableDropdownBase<TItem>


<MudAutocomplete @ref="@autoComplete"
                 AfterItemsTemplate="@Pageination"
                 SearchFunc="Search"
                 Variant="ComponentSettings.InputVariant"
                 Label="@Label"
                 T="TItem"
                 id="@Id"
                 Immediate="@Immediate"
                 Text="@Text"
                 TextChanged="@TextChanged"
                 Value="@Value"
                 ValueChanged="@((e) => Select(e))"
                 ToStringFunc="@((v) => StringConvert(v))"
                 Disabled="@Disabled"
                 ReadOnly="@ReadOnly"
                 Strict="true"
                 Required="Required"
                 Error="@_isError"
                 ErrorText="@_errorMessage"
                 RequiredError="@_requiredMessage"
                 Placeholder="@Placeholder"
                 OnClearButtonClick="@Clear"
                 OpenChanged="@OnOpenChanged"
                 @onblur="@(() => autoComplete.Validate())"
                 Clearable="@Clearable" />


@code {

    bool _isError => Error || _containErrors;
    bool _containErrors => (ErrorKey is not null && Errors is not null && Errors.Count() > 0 && Errors.ContainsKey(ErrorKey));
    string? _errorMessage => _isError ? ErrorMessage : _containErrors ? string.Join(" ", Errors[ErrorKey!]) : (Required && Value is null) ? _requiredMessage : null;
    string? _label => !string.IsNullOrEmpty(Label) ? Label : this.JsonLocalizer[$"{LocalizerResource}.{LocalizerKey}.Label"];
    string? _requiredMessage => !string.IsNullOrWhiteSpace(RequiredMessage) ? RequiredMessage : this.JsonLocalizer[$"{LocalizerResource}.{LocalizerKey}.Required.ErrorMessage"];



    [Parameter] public EventCallback OnDropdownClose { get; set; }
    private Response<List<TItem>> data { get; set; } = new Response<List<TItem>>();
    private int selectedPage { get; set; } = 1;
    private MudAutocomplete<TItem> autoComplete { get; set; } = default!;
    private RenderFragment Pageination => PageCount() > 1 ?@<MudPagination ShowPageButtons="false"
               ShowFirstButton="true"
               Selected="@selectedPage"
               ShowLastButton="true"
               Count="@PageCount()"
               SelectedChanged="@((e) => PageChanges(e))" /> : @<div></div>;

    public async Task OpenDropDown()
    {
        await autoComplete.OpenMenuAsync();
        await autoComplete.FocusAsync();
    }
    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;

        ErrorKey = ErrorKey ?? LocalizerKey;
        if (Text is null && Value is not null && StringConvert is not null)
        {
            Text = StringConvert(Value);
        }
    }


    async Task<IEnumerable<TItem>> Search(string value, CancellationToken token)
    {
        data = await SearchFunction(value, selectedPage);
        return data.Data ?? new();
    }

    async Task Select(TItem? item)
    {
        Value = item;
        await ValueChanged.InvokeAsync(item);
        await OnDropdownClose.InvokeAsync();
    }
    
    async Task Clear()
    {
        Value = default!;
        await SetPage(1);
        await ValueChanged.InvokeAsync(default!);
    }

    bool pageChanging = false;
    async Task PageChanges(int page)
    {
        await SetPage(page);
    }

    async Task SetPage(int page)
    {
        selectedPage = page;
        pageChanging = true;
        await autoComplete.CloseMenuAsync();
        await autoComplete.OpenMenuAsync();
        await autoComplete.FocusAsync();
        pageChanging = false;
    }

    public bool hasOpened = false;
    async Task OnOpenChanged()
    {
        if (pageChanging)
            return;

        if (!autoComplete.Open && hasOpened)
        {
            await OnDropdownClose.InvokeAsync();
        }
        else
        {
            hasOpened = true;
            if (Value is not null)
                Text = StringConvert(Value);
        }
    }

    int PageCount()
    {
        if (data.Count == 0) return 0;
        int page = data.Count / PageSize;
        page += data.Count % PageSize > 0 ? 1 : 0;
        return page;
    }
}
