@using LinoVative.Shared.Dto.MasterData.Suppliers
@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.InputComponents.Dropdowns.SingleDropdown
@inherits POSManagementPageBase

<MudToolBar>
    <MudButton Disabled="@(!Data!.IsActive)" Size="Size.Small" OnClick="AddNew" Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Add" Class="mr-5">@Label("AddNewAddress")</MudButton>
</MudToolBar>

<MudSimpleTable Style="overflow-x: auto;">
    <tbody>
        @foreach (var address in Data?.Addresses ?? new())
        {
            <tr>

                <td style="width: 300px" class="@paddingClass">
                    <div>
                        <AddressTypeDropdown Required="true"
                                             Disabled="@(!Data!.IsActive)"
                                             Errors="@FormResponse?.Errors"
                                             LocalizerResource="@LocalizerResource"
                                             LocalizerKey="AddressType"
                                             Value="@address.AddressType"
                                             ValueChanged="@(x => address.AddressType = x)" />
                    </div>

                </td>


                <td>
                    <div>
                        <LinovativeInputText @bind-Value="@address.AddressLine"
                                             Disabled="@(!Data.IsActive)"
                                             Errors="@FormResponse?.Errors"
                                             LocalizerResource="@LocalizerResource"
                                             LocalizerKey="AddressLine" />
                    </div>
                </td>

                <td>
                    <div>
                        <LinovativeInputText @bind-Value="@address.City"
                                             Disabled="@(!Data.IsActive)"
                                             Errors="@FormResponse?.Errors"
                                             LocalizerResource="@LocalizerResource"
                                             LocalizerKey="City" />
                    </div>
                </td>

                <td>
                    <div>
                        <LinovativeInputText @bind-Value="@address.Province"
                                             Disabled="@(!Data.IsActive)"
                                             Errors="@FormResponse?.Errors"
                                             LocalizerResource="@LocalizerResource"
                                             LocalizerKey="Province" />
                    </div>
                </td>

                <td>
                    <div>
                        <LinovativeInputText @bind-Value="@address.Country"
                                             Disabled="@(!Data.IsActive)"
                                             Errors="@FormResponse?.Errors"
                                             LocalizerResource="@LocalizerResource"
                                             LocalizerKey="Country" />
                    </div>
                </td>

                <td>
                    <div>
                        <LinovativeInputText @bind-Value="@address.PostalCode"
                                             Disabled="@(!Data.IsActive)"
                                             Errors="@FormResponse?.Errors"
                                             LocalizerResource="@LocalizerResource"
                                             LocalizerKey="PostalCode" />
                    </div>
                </td>

                <td style="width: 30px">
                    <div>
                        <MudIconButton Disabled="@(!Data!.IsActive)" OnClick="@(() => Remove(address))" Icon="@Icons.Material.Filled.Delete" Class="mr-5" />
                    </div>
                </td>

            </tr>
        }
    </tbody>
</MudSimpleTable>
@code {

    protected override string LocalizerResource => "SupplierPage";
    string paddingClass => "p-2";

    [Parameter] public Response? FormResponse { get; set; } = null;
    [Parameter] public SupplierInputDto? Data { get; set; } = new();


    void Remove(SupplierAddressDto address)
    {
        Data.Addresses.Remove(address);
    }

    void AddNew()
    {
        var newAddress = new SupplierAddressDto()
        {
            SupplierId = Data!.Id,
        };

        Data.Addresses.Add(newAddress);
    }
}
