@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.InputComponents.Dropdowns.SingleDropdown
@inherits POSManagementPageBase
@inject IApplicationStateService _state

@if (SKUItem is not null && Item is not null)
{
    <MudGrid>
        <MudItem md="6" xl="3" xxl="2">

            <div class="d-flex" style="min-width: 150px"><MudSwitch Disabled="@(!Item.IsActive)" @bind-Value="@SKUItem.IsActive" Label="@Label("IsActive")" Color="Color.Info" /></div>
            <LinovativeGap />

            <LinovativeInputText Value="@SKUItem.SKU"
                                 ValueChanged="@((x) => SKUItem.SKU = x)"
                                 Id="item_code"
                                 Immediate=true
                                 IsRequired="true"
                                 Disabled="@(!SKUItem.IsActive || !Item.IsActive)"
                                 Errors="@FormResponse?.Errors"
                                 LocalizerResource="@LocalizerResource"
                                 LocalizerKey="@(nameof(SKUItemInputDto.SKU))" />
            <LinovativeGap />


            <LinovativeInputText Value="@SKUItem.VarianName"
                                 ValueChanged="@((x) => SKUItem.VarianName = x)"
                                 Id="item_code"
                                 IsRequired="@(SKUCount > 1)"
                                 Immediate=true
                                 Disabled="@(!SKUItem.IsActive || !Item!.IsActive)"
                                 Errors="@FormResponse?.Errors"
                                 LocalizerResource="@LocalizerResource"
                                 LocalizerKey="@(nameof(SKUItemInputDto.VarianName))" />
            <LinovativeGap />


            <ItemUnitDropdown Value="@SKUItem.Unit"
                              ValueChanged="@(async (x) => { 
                                    SKUItem.Unit = x; 
                                    SKUItem.UnitId = x?.Id;
                                    _state.NotifyStateChanged(); 
                                })"
                              Id="unit"
                              Required="true"
                              Disabled="@(!SKUItem.IsActive || !Item.IsActive)"
                              Errors="@FormResponse?.Errors"
                              LocalizerResource="@LocalizerResource"
                              LocalizerKey="@nameof(SKUItemInputDto.UnitId)" />
            <LinovativeGap />


            <LinovativeInputGeneric T="decimal?"
                                    Disabled="@(!SKUItem.IsActive || !Item.IsActive)"
                                    Value="@SKUItem.SalePrice"
                                    ValueChanged="@(x => SKUItem.SalePrice = x)"
                                    IsRequired="true"
                                    FullWidth="true"
                                    Errors="@FormResponse?.Errors"
                                    Style="width: 350px"
                                    LocalizerResource="@LocalizerResource"
                                    LocalizerKey="SalePrice" />

        </MudItem>

    </MudGrid>
}


@code {

    [Parameter] public ItemInputDto? Item { get; set; }
    [Parameter] public SKUItemInputDto? SKUItem { get; set; }
    [Parameter] public Response? FormResponse { get; set; } = null;
    [Parameter] public EventCallback<SKUItemInputDto> OnRemove { get; set; }
    [Parameter] public int SKUCount { get; set; }
    protected override string LocalizerResource => nameof(ItemsPage);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;
    }


    async Task Remove()
    {
        await OnRemove.InvokeAsync(SKUItem);
    }
}