@using Linovative.Frontend.POSComponents.Bases
@using System.Threading.Tasks
@inherits POSManagementPageBase
@inject IApplicationStateService _state

@if (Item?.HasVariant ?? false)
{

    <LinovativeGap Height="50" />
    <div class="d-flex">
        <MudText Typo="Typo.h6">@Label("ItemVariantSection")</MudText>
        <MudSpacer />
        <MudButton Disabled="@(!Item.IsActive)" OnClick="@(() => AddNew())"
                   IconSize="Size.Small"
                   EndIcon="@Icons.Material.Filled.Add"
                   Variant="Variant.Outlined">@Label("AddNewSKU")</MudButton>
    </div>
}


<LinovativeGap />
<MudExpansionPanels @ref="@expandPanel" MultiExpansion="false">
    @foreach (var skuItem in Item?.SKUItems ?? new())
    {
        <MudExpansionPanel Text="@($"{skuItem.SKU ?? "SKU"} - {skuItem.VarianName ?? "New Model"}")">
            <TitleContent>
                <div class="d-flex align-center">
                    <div>@GetExpandTitle(skuItem)</div>
                    <MudSpacer />
                    @if (Item!.SKUItems.Count > 1)
                    {
                        <MudButton Color="Color.Error" Size="Size.Small" OnClick="@(() => Remove(skuItem))">
                            <MudIcon Size="Size.Small" @onclick:preventDefault Icon="@Icons.Material.Filled.Delete" Class="me-3" />
                        </MudButton>
                    }
                </div>
            </TitleContent>
            <ChildContent>
                <SKUItemVariantDetailComponent Item="Item" SKUCount="@Item!.SKUItems.Count" OnRemove="Remove" SKUItem="@skuItem" />
            </ChildContent>
        </MudExpansionPanel>
    }
</MudExpansionPanels>


@code
    {
    [Parameter] public ItemInputDto Item { get; set; } = new();
    [Parameter] public SKUItemInputDto? SelectedSKUitem { get; set; } = null;
    [Parameter] public EventCallback<SKUItemInputDto?> SelectedItemChange { get; set; }

    string GetExpandTitle(SKUItemDto skuItem)
    {
        var displayText = string.IsNullOrWhiteSpace(skuItem.SKU) ? "SKU" : skuItem.SKU;

        var variantName = skuItem.VarianName ?? "New Variant";
        variantName = variantName == "-" ? "New Variant" : variantName;

        if (!(Item.SKUItems.Count == 1 && (string.IsNullOrWhiteSpace(skuItem.VarianName) || skuItem.VarianName == "-")))
            return $"{displayText} - {(variantName)}"; 

        return displayText;
    }

    private MudExpansionPanels? expandPanel { get; set; }

    protected override string LocalizerResource => nameof(ItemsPage);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;
        _state.OnChange += RefreshUI;
        _state.NotifyStateChanged();
    }

    void RefreshUI()
    {
        if (Item.SKUItems.Count == 1)
        {
            Task.Run(async () =>
            {
                await Task.Delay(500);
                var panel = expandPanel?.Panels.LastOrDefault();
                await panel!.ExpandAsync();
                _state.NotifyStateChanged();
            });
        }
    }

    async Task Delete(SKUItemInputDto item)
    {
        Item.SKUItems.Remove(item);
        SelectedSKUitem = Item.SKUItems.FirstOrDefault();
        await SelectedItemChange.InvokeAsync(SelectedSKUitem);
    }

    async Task SelectedChange(SKUItemInputDto item)
    {
        SelectedSKUitem = item;
        await SelectedItemChange.InvokeAsync(SelectedSKUitem);
    }

    public async Task AddNew()
    {
        await expandPanel!.CollapseAllAsync();
        var newSku = new SKUItemInputDto() { ItemId = Item.Id };
        SelectedSKUitem = newSku;
        await SelectedItemChange.InvokeAsync(SelectedSKUitem);
        Item.SKUItems.Add(newSku);

        await Task.Delay(500);
        var panel = expandPanel?.Panels.LastOrDefault();
        await panel!.ExpandAsync();
    }

    async Task Remove(SKUItemInputDto item)
    {
        await expandPanel!.CollapseAllAsync();
        Item.SKUItems.Remove(item);
    }
}