@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.InputComponents.Dropdowns.SingleDropdown
@inherits POSManagementPageBase
@inject IApplicationStateService _state

@if (Item is not null)
{
    <MudGrid>
        <MudItem md="6">

            <div class="d-flex gap-2">

                <div class="d-flex" style="min-width: 150px"><MudSwitch @bind-Value="@Item.IsActive" Label="@Label("IsActive")" Color="Color.Info" /></div>

                <LinovativeInputText Value="@Item.SKU"
                                     ValueChanged="@((x) => SetValue(()=> Item.SKU = x))"
                                     Id="item_code"
                                     Immediate=true
                                     IsRequired="true"
                                     Disabled="@(!Item.IsActive)"
                                     Errors="@FormResponse?.Errors"
                                     LocalizerResource="@LocalizerResource"
                                     LocalizerKey="@(nameof(SKUItemInputDto.SKU))" />
            </div>

            <LinovativeGap />
            <LinovativeInputText Value="@Item.VarianName"
                                 ValueChanged="@((x) => SetValue(()=> Item.VarianName = x))"
                                 Id="item_code"
                                 IsRequired="true"
                                 Immediate=true
                                 Disabled="@(!Item.IsActive)"
                                 Errors="@FormResponse?.Errors"
                                 LocalizerResource="@LocalizerResource"
                                 LocalizerKey="@(nameof(SKUItemInputDto.VarianName))" />

            <LinovativeGap />
            <ItemUnitDropdown @bind-Value="@unitDto"
                              Id="unit"
                              Required="true"
                              Disabled="@(!Item.IsActive)"
                              Errors="@FormResponse?.Errors"
                              LocalizerResource="@LocalizerResource"
                              LocalizerKey="@nameof(SKUItemInputDto.UnitId)" />

            <LinovativeGap />
            <LinovativeInputGeneric T="decimal?"                
                                    Disabled="@(!Item.IsActive)"
                                    Value="@Item.SalePrice"
                                    ValueChanged="@(x => Item.SalePrice = x)"
                                    IsRequired="true"
                                    Errors="@FormResponse?.Errors"
                                    Style="width: 350px"
                                    LocalizerResource="@LocalizerResource"
                                    LocalizerKey="SalePrice" />

        </MudItem>

        <MudItem md="12">
            <MudButton OnClick="@(() => Remove())"
                       IconSize="Size.Small"
                       Color="Color.Error"
                       EndIcon="@Icons.Material.Filled.Remove"
                       Variant="Variant.Outlined">@Label("Remove")</MudButton>
        </MudItem>
    </MudGrid>
}


@code {

    [Parameter] public SKUItemInputDto? Item { get; set; }
    [Parameter] public Response? FormResponse { get; set; } = null;
    [Parameter] public EventCallback<SKUItemInputDto> OnRemove { get; set; }
    protected override string LocalizerResource => nameof(ItemsPage);

    private ItemUnitDto? unitDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        _state.OnChange += GenerateData;
        await base.OnInitializedAsync();
    }

    void GenerateData()
    {
        if (Item?.Unit is null)
        {
            unitDto = null;
            return;
        }

        unitDto = new ItemUnitDto() { Id = Item.UnitId!.Value, Name = Item.Unit.Name };
    }

    void SetValue(Action setValueActoin)
    {
        setValueActoin();
        _state.NotifyStateChanged();
    }


    async Task Remove()
    {
        await OnRemove.InvokeAsync(Item);
    }
}