@using Linovative.Frontend.POSComponents.Bases
@inherits POSManagementPageBase
@inject IApplicationStateService _state



<LinovativeGap />
<MudButton OnClick="@(() => AddNew())"
           IconSize="Size.Small"
           EndIcon="@Icons.Material.Filled.Add"
           Variant="Variant.Outlined">@Label("AddNewSKU")</MudButton>

<MudExpansionPanels MultiExpansion="true">

    @foreach (var skuItem in Item.SKUItems ?? new())
    {
        <MudExpansionPanel Text="@($"{skuItem.SKU ?? "SKU"} - {skuItem.VarianName ?? "New Model"}")">
            <SKUItemVariantDetailComponent Item="@skuItem" />
        </MudExpansionPanel>
    }
</MudExpansionPanels>


<div class="me-3">
    <MudPaper>
        <MudList T="SKUItemInputDto" @bind-SelectedValue="SelectedSKUitem" SelectionMode="@SelectionMode.SingleSelection" ReadOnly="true">
            @foreach (var skuItem in Item.SKUItems ?? new())
            {
                <MudListItem Class="show-on-hover" Value="skuItem" OnClick="@(() => SelectedChange(skuItem))">
                    <ChildContent>
                        <div class="d-flex align-content-space-between">
                            <div>@(skuItem.SKU ?? "SKU") - @(skuItem.VarianName ?? "New Model")</div> <MudSpacer />  <MudIcon Class="item-show-on-hover cursor-pointer" @onclick="@(() => Delete(skuItem))" Icon="@Icons.Material.Filled.Delete" />
                        </div>
                    </ChildContent>
                </MudListItem>
            }
        </MudList>
    </MudPaper>
</div>



@code
{
    [Parameter] public ItemInputDto Item { get; set; } = new();
    [Parameter] public SKUItemInputDto? SelectedSKUitem { get; set; } = null;
    [Parameter] public EventCallback<SKUItemInputDto?> SelectedItemChange { get; set; }
    protected override string LocalizerResource => nameof(ItemsPage);

    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }

    async Task Delete(SKUItemInputDto item)
    {
        Item.SKUItems.Remove(item);
        SelectedSKUitem = Item.SKUItems.FirstOrDefault();
        await SelectedItemChange.InvokeAsync(SelectedSKUitem);
        _state.NotifyStateChanged();
    }

    async Task SelectedChange(SKUItemInputDto item)
    {
        SelectedSKUitem = item;
        await SelectedItemChange.InvokeAsync(SelectedSKUitem);
        _state.NotifyStateChanged();
    }

    public async Task AddNew()
    {
        var newSku = new SKUItemInputDto() { ItemId = Item.Id };
        SelectedSKUitem = newSku;
        await SelectedItemChange.InvokeAsync(SelectedSKUitem);
        Item.SKUItems.Add(newSku);
        _state.NotifyStateChanged();
    }
}