@using LinoVative.Shared.Dto.BulkUploads
@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Enums
@using Linovative.Frontend.Services.BulkUploads
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions
@using Linovative.Frontend.Shared.InputComponents.FilterComponents
@using Linovative.Shared.Interface.Enums

@inherits POSManagementPageBase
@inject IItemGroupService _service
@inject IApplicationStateService _state
@inject IBulkUploadItemGroupService _bulkItemGroup
@inject IBulkUploadItemGroupDetailService _bulkItemGroupDetail


@if (SelectedEntityType == BulkDataEntityTypes.Group && (
    SelectedActionTypes == BulkActionTypes.Create_Upload ||
    SelectedActionTypes == BulkActionTypes.Update_Upload))
{
    <LinovativeGap />

    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>@group?.headerColum1</th>
                <th>@group?.headerColum2</th>
            </tr>
        </thead>
        <tbody>
            @if (group is not null)
            {
                @foreach (var row in details)
                {
                    <tr>
                        <td>@row.Column1</td>
                        <td>@row.Column2</td>
                    </tr>
                }
                <tr>
                    <td colspan="5">
                        @if (group?.Details.Count > 0)
                        {
                            <MudText>@(recordCount < pageSize ? recordCount : pageSize) of @recordCount records</MudText>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <MudPagination ShowPageButtons="false" ShowFirstButton="true" ShowLastButton="true" SelectedChanged="@OnSelectedPageChanged" Count="@pageCount" />
    </MudSimpleTable>

}



@code {
    // Public Properties
    [Parameter] public BulkOperations? SelectedOperation { get; set; }
    [Parameter] public BulkDataEntityTypes? SelectedEntityType { get; set; }
    [Parameter] public BulkActionTypes? SelectedActionTypes { get; set; }
    [Parameter] public bool ShowRecord { get; set; }

    protected override string LocalizerResource => nameof(ItemBulkOperationsPage);

    // Private properties
    BulkUploadItemGroupDto? group = new();
    List<BulkUploadItemGroupDetailDto> details = new();
    List<DataGridFilterModel> itemFilterModels { get; set; } = new();
    CancellationTokenSource cts = new();
    int currentPage = 0;
    int pageSize = 10;
    int pageCount = 0;
    int recordCount = 0;
    int itemFilterCount = 0;


    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }


    void OnItemFilterValueChanged(List<DataGridFilterModel> fieldValues)
    {
        itemFilterModels = fieldValues;
    }


    public async Task LoadData()
    {
        CrudOperations operation = SelectedOperation switch
        {
            BulkOperations.Create => CrudOperations.Create,
            BulkOperations.Update => CrudOperations.Update,
            BulkOperations.Delete => CrudOperations.Delete,
            _ => CrudOperations.Create,
        };

        var odataFilter = new ODataFilter()
            {
                PageNumber = 1,
                PageSize = 1,
                FilterPayload = new { filter = itemFilterModels.ToFilterCondition(), operation = operation }
            };

        var odataFilterDetail = new ODataFilter()
            {
                PageNumber = currentPage,
                PageSize = pageSize,
                OrderFiled = null,
                SortDirection = SortDirection.Ascending.ToString(),
                FilterPayload = new { filter = itemFilterModels.ToFilterCondition(), operation = operation }
            };
        itemFilterCount = itemFilterModels.Count;
        var task1 = _bulkItemGroup.Get(odataFilter, cts.Token);
        var task2 = _bulkItemGroupDetail.Get(odataFilterDetail, cts.Token);

        await Task.WhenAll(new List<Task>() { task1, task2 });

        var result = task1.Result;
        var result2 = task2.Result;

        group = result?.Data?.FirstOrDefault() ?? new();
        details = result2?.Data ?? new();

        var records = details.Count;
        var hasMod = details.Count % pageSize > 0;
        recordCount = records;
        pageCount = records == 0 ? 0 : records <= pageSize ? 1 : (records - (records % pageSize)) / pageSize + (hasMod ? 1 : 0);

        _state.NotifyStateChanged();
    }

    async Task OnSelectedPageChanged(int page)
    {
        currentPage = page;
        await LoadData();
    }

    void OnClearFilter()
    {
        if (itemFilterCount == 0)
            return;

        Reset();
    }

    public void Reset()
    {
        group = null;
        currentPage = 1;
        pageCount = 0;
        recordCount = 0;
    }
}
