@using LinoVative.Shared.Dto.BulkUploads
@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Enums
@using Linovative.Frontend.Services.BulkUploads
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions
@using Linovative.Frontend.Shared.InputComponents.FilterComponents
@using Linovative.Shared.Interface.Enums

@inherits POSManagementPageBase
@inject IApplicationStateService _state
@inject IBulkUploadItemUnitService _bulkItemUnit
@inject IBulkUploadItemUnitDetailService _bulkItemUnitDetail


@if (SelectedEntityType == BulkDataEntityTypes.Unit && (
    SelectedActionTypes == BulkActionTypes.Create_Upload ||
    SelectedActionTypes == BulkActionTypes.Update_Upload))
{
    <LinovativeGap />

    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>@(unit?.headerColum1?? $"{(Label("Column"))} 1")</th>
                <th>@(unit?.headerColum2?? $"{(Label("Column"))} 2")</th>
            </tr>
        </thead>
        <tbody>
            @if (details is not null)
            {
                @foreach (var row in details)
                {
                    <tr>
                        <td>@row.Column1</td>
                        <td>@row.Column2</td>
                    </tr>
                }
                <tr>
                    <td colspan="5">
                        @if (details.Count > 0)
                        {
                            <MudText>@(recordCount<pageSize? recordCount : pageSize) of @recordCount records</MudText>
                        }
                    </td>
                </tr>
            }
        </tbody>
        
        @if (details?.Count == 0)
        {
            <tbody>
                <tr>
                    <td colspan="6"><MudText Typo="Typo.body2">@Label("NoRecordUploaded")</MudText></td>
                </tr>
            </tbody>
        }
        <tbody>
            <tr>
                <td colspan="6">
                    <MudPagination ShowPageButtons="false" ShowFirstButton="true" ShowLastButton="true" SelectedChanged="@OnSelectedPageChanged" Count="@pageCount" />
                </td>
            </tr>
        </tbody>

    </MudSimpleTable>

    <LinovativeGap />
    <div>
        <MudButton Disabled="@(unit is null || details.Count == 0)"
                   Variant="ComponentSettings.AddNewButtonVariant"
                   StartIcon="@Icons.Material.Filled.Delete"
                   OnClick="@DeleteRecords"
                   Color="Color.Primary">@ButtonText("ClearRecord")</MudButton>
    </div>

}



@code {
    // Public Properties
    [Parameter] public BulkOperations? SelectedOperation { get; set; }
    [Parameter] public BulkDataEntityTypes? SelectedEntityType { get; set; }
    [Parameter] public BulkActionTypes? SelectedActionTypes { get; set; }
    [Parameter] public bool ShowRecord { get; set; }

    protected override string LocalizerResource => nameof(ItemBulkOperationsPage);

    // Private properties
    BulkUploadItemUnitDto? unit = new();
    List<BulkUploadItemUnitDetailDto> details = new();
    List<DataGridFilterModel> itemFilterModels { get; set; } = new();
    CancellationTokenSource cts = new();
    int currentPage = 0;
    readonly int pageSize = 10;
    int pageCount = 0;
    int recordCount = 0;
    int itemFilterCount = 0;


    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }


    void OnItemFilterValueChanged(List<DataGridFilterModel> fieldValues)
    {
        itemFilterModels = fieldValues;
    }

    async Task DeleteRecords()
    {
        if (unit == null)
            return;

        var cts = new CancellationTokenSource();
        Func<Task<Response>>? removeFunc = SelectedActionTypes switch
        {
            BulkActionTypes.Create_Upload => () => _bulkItemUnit.RemoveBulkCreate(cts.Token),
            BulkActionTypes.Update_Upload => () => _bulkItemUnit.RemoveBulkUpdate(cts.Token),
            BulkActionTypes.Delete_Upload => () => _bulkItemUnit.RemoveBulkDelete(cts.Token),
            _ => null
        };

        if (removeFunc != null)
        {
            await removeFunc!();
            Reset();
        }

        cts.Dispose();
    }


    public async Task LoadData()
    {
        CrudOperations operation = SelectedOperation switch
        {
            BulkOperations.Create => CrudOperations.Create,
            BulkOperations.Update => CrudOperations.Update,
            BulkOperations.Delete => CrudOperations.Delete,
            _ => CrudOperations.Create,
        };

        var odataFilter = new ODataFilter()
        {
            PageNumber = 1,
            PageSize = 1,
            FilterPayload = new { filter = itemFilterModels.ToFilterCondition(), operation = operation }
        };

        var odataFilterDetail = new ODataFilter()
        {
            PageNumber = currentPage,
            PageSize = pageSize,
            OrderFiled = null,
            SortDirection = SortDirection.Ascending.ToString(),
            FilterPayload = new { filter = itemFilterModels.ToFilterCondition(), operation = operation }
        };
        itemFilterCount = itemFilterModels.Count;
        var task1 = _bulkItemUnit.Get(odataFilter, cts.Token);
        var task2 = _bulkItemUnitDetail.Get(odataFilterDetail, cts.Token);

        await Task.WhenAll(new List<Task>() { task1, task2 });

        var result = task1.Result;
        var result2 = task2.Result;

        unit = result?.Data?.FirstOrDefault() ?? new();
        details = result2?.Data ?? new();

        var records = details.Count;
        var hasMod = details.Count % pageSize > 0;
        recordCount = records;
        pageCount = records == 0 ? 0 : records <= pageSize ? 1 : (records - (records % pageSize)) / pageSize + (hasMod ? 1 : 0);

        _state.NotifyStateChanged();
    }

    async Task OnSelectedPageChanged(int page)
    {
        currentPage = page;
        await LoadData();
    }

    void OnClearFilter()
    {
        if (itemFilterCount == 0)
            return;

        Reset();
    }

    public void Reset()
    {
        unit = null;
        currentPage = 1;
        pageCount = 0;
        recordCount = 0;
    }
}
