@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Enums
@using Linovative.Frontend.Services.BulkUploads
@using Linovative.Frontend.Services.FrontendServices.Resources
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.InputComponents.Dropdowns.SingleDropdown
@using Linovative.Shared.Interface.Enums
@using Microsoft.AspNetCore.Components.Forms

@attribute [Route(PageRoutes.PostManagement.ItemMaster.BulkOperations)]
@inherits POSManagementPageBase
@layout PosLayout

@inject IJsonLocalizer _loc
@inject ITopBarService _topBarService
@inject IApplicationStateService _state
@inject IItemCategoryService _service
@inject IDialogService _dialogService
@inject IMapper _mapper
@inject IResourceDownload _resourceService
@inject IBulkUploadService _bulkUploadService;


<LinovativePageTitle Title="@EntityPluralName" />
<ItemsBreadcrumb Childs="@(new() { new BreadcrumbItem(EntityName, href: PageRoutes.PostManagement.ItemMaster.BulkOperations) })" />
<ItemTabs SelectedTab="ItemTabs.Tabs.BulkOperation" />
<LinovativeGap />
<MudText Typo="Typo.h6">@EntityName @(Title is null ? null : $" - {Title}")</MudText>
<LinovativeGap />

<AppSuccessAllert @ref="@successAllert" AutoClose="true" />
<AppErrorAlert AutoClose="false" @ref="@formErrorAlert" />


<!-- Operation Dropdown -->
<div style="width: 400px">
    <MudSelect Value="@SelectedOperation"
               ValueChanged="@OnOperationChange"
               T="BulkOperations ?" Variant="ComponentSettings.InputVariant" Label="@Label("Operation")"
               Clearable="true" FullWidth="false">
        <MudSelectItem T="BulkOperations ?" Value="BulkOperations.Create">@_loc.Enum($"{nameof(BulkOperations)}.{BulkOperations.Create}")</MudSelectItem>
        <MudSelectItem T="BulkOperations ?" Value="BulkOperations.Update">@_loc.Enum($"{nameof(BulkOperations)}.{BulkOperations.Update}")</MudSelectItem>
        <MudSelectItem T="BulkOperations ?" Value="BulkOperations.Delete">@_loc.Enum($"{nameof(BulkOperations)}.{BulkOperations.Delete}")</MudSelectItem>
    </MudSelect>
</div>


<!-- Entity Type Dropdown -->
<LinovativeGap />
<div style="width: 400px">
    <MudSelect Value="@SelectedEntityType"
               T="BulkDataEntityTypes ?"
               ValueChanged="@OnEntityTypeChange"
               Disabled="@(SelectedOperation is null)"
               Variant="ComponentSettings.InputVariant" Label="@Label("DataType")" Clearable="true" FullWidth="false">
        <MudSelectItem T="BulkDataEntityTypes ?" Value="BulkDataEntityTypes.ItemMaster">@_loc.Enum($"{nameof(BulkDataEntityTypes)}.{BulkDataEntityTypes.ItemMaster}")</MudSelectItem>
        <MudSelectItem T="BulkDataEntityTypes ?" Value="BulkDataEntityTypes.Group">@_loc.Enum($"{nameof(BulkDataEntityTypes)}.{BulkDataEntityTypes.Group}")</MudSelectItem>
        <MudSelectItem T="BulkDataEntityTypes ?" Value="BulkDataEntityTypes.Category">@_loc.Enum($"{nameof(BulkDataEntityTypes)}.{BulkDataEntityTypes.Category}")</MudSelectItem>
        <MudSelectItem T="BulkDataEntityTypes ?" Value="BulkDataEntityTypes.Unit">@_loc.Enum($"{nameof(BulkDataEntityTypes)}.{BulkDataEntityTypes.Unit}")</MudSelectItem>
    </MudSelect>
</div>

<!-- Action Dropdown -->
<LinovativeGap />
<div style="width: 400px">
    <MudSelect Disabled="@(SelectedOperation is null)"
               Value="@SelectedActionTypes"
               ValueChanged="@OnActionChange"
               T="BulkActionTypes ?"
               Variant="ComponentSettings.InputVariant" Label="@Label("Actions")" Clearable="true" FullWidth="false">
        @foreach (var actionType in ActionTypeSources)
        {
            <MudSelectItem T="BulkActionTypes ?" Value="actionType">@_loc.Enum($"{nameof(BulkActionTypes)}.{actionType}")</MudSelectItem>
        }
    </MudSelect>
</div>



<!-- File Browse -->
@if (SelectedEntityType is not null && (
    SelectedActionTypes == BulkActionTypes.Delete_Upload ||
    SelectedActionTypes == BulkActionTypes.Create_Upload ||
    SelectedActionTypes == BulkActionTypes.Update_Upload))
{

    <LinovativeGap />
    <div class="d-flex align-center gap-2" style="width: 400px">
        <div style="width: 100%">
            <MudFileUpload Style="width: 100%" Accept=".xlsx" T="IBrowserFile" FilesChanged="UploadFile">
                <ActivatorContent>
                    <LinovativeInputText Value="@fileToUplaod?.Name" Placeholder="@Label("BrowseFile")" Label="@Label("BrowseFile")" ReadOnly="true" Clearable="true" />
                </ActivatorContent>
            </MudFileUpload>
        </div>
    </div>

    <LinovativeGap />
    <MudButton Disabled="@(fileToUplaod is null)"
               Variant="ComponentSettings.AddNewButtonVariant"
               StartIcon="@Icons.Material.Filled.Upload"
               OnClick="Upload"
               Color="Color.Primary">@ButtonText("Upload")</MudButton>
}


<!-- Records Filters -->
<ItemAdvanceActoionPageItemFilterAndView SelectedOperation=@SelectedOperation
                                         SelectedEntityType=@SelectedEntityType
                                         SelectedActionTypes=@SelectedActionTypes
                                         ShowRecord=@ShowRecord
                                         @ref=itemView />



<ItemAdvanceActoionPageCategoryFilterAndView SelectedOperation=@SelectedOperation
                                             SelectedEntityType=@SelectedEntityType
                                             SelectedActionTypes=@SelectedActionTypes
                                             ShowRecord=@ShowRecord
                                             @ref=categoryView />

<ItemAdvanceActoionPageGroupFilterAndView SelectedEntityType=@SelectedEntityType
                                          SelectedActionTypes=@SelectedActionTypes
                                          ShowRecord=@ShowRecord
                                          @ref=groupView />

<ItemAdvanceActoionPageUnitFilterAndView SelectedEntityType=@SelectedEntityType
                                         SelectedActionTypes=@SelectedActionTypes
                                         ShowRecord=@ShowRecord
                                         @ref=unitView />


<!-- Display Records -->
<ItemGroupBulkUploadRecords SelectedEntityType=@SelectedEntityType
                            SelectedActionTypes=@SelectedActionTypes
                            SelectedOperation=@SelectedOperation
                            @ref=@bulkGroupRecords />

<ItemCategoryBulkUploadRecords SelectedEntityType=@SelectedEntityType
                               SelectedActionTypes=@SelectedActionTypes
                               SelectedOperation=@SelectedOperation
                               @ref=@bulkCategoryRecords />

<ItemBulkUploadRecords SelectedEntityType=@SelectedEntityType
                       SelectedActionTypes=@SelectedActionTypes
                       SelectedOperation=@SelectedOperation
                       @ref=@bulkItemRecords />

<ItemUnitBulkUploadRecords SelectedEntityType=@SelectedEntityType
                           SelectedActionTypes=@SelectedActionTypes
                           SelectedOperation=@SelectedOperation
                           @ref=@bulkItemUnitRecords />


<!-- Buttons -->
<LinovativeGap />
<div class="d-flex justify-start flex-grow-1 gap-4">
    @if ((SelectedEntityType is BulkDataEntityTypes.ItemMaster or BulkDataEntityTypes.Category or BulkDataEntityTypes.Group or BulkDataEntityTypes.Unit) && (
        SelectedActionTypes == BulkActionTypes.Update_DownloadFromData ||
        SelectedActionTypes == BulkActionTypes.Delete_DownloadFromDataFiltering))
    {
        <MudButton Disabled="@(SelectedOperation is null || SelectedEntityType is null || SelectedActionTypes is null)"
                   Variant="ComponentSettings.AddNewButtonVariant"
                   StartIcon="@Icons.Material.Filled.ViewColumn"
                   OnClick="@OnButtonViewItemClicked"
                   Color="Color.Primary">@ButtonText("ShowRecord")</MudButton>
    }


    @if (DownloadActions.Any(x => x == SelectedActionTypes))
    {
        <MudButton Disabled="@(uploading || SelectedOperation is null || SelectedEntityType is null || SelectedActionTypes is null)"
                   Variant="ComponentSettings.AddNewButtonVariant"
                   StartIcon="@Icons.Material.Filled.Download"
                   OnClick="Download"
                   Color="Color.Primary">@ButtonText("Download")</MudButton>
    }
</div>


@code {

    protected override string LocalizerResource => nameof(ItemBulkOperationsPage);
    protected override string EntityName => JsonLocalizer[$"{LocalizerResource}.Entity.Name.Single"];
    protected override string EntityPluralName => JsonLocalizer[$"{LocalizerResource}.Entity.Name.Plural"];
    private string? Title => SelectedOperation switch
    {
        BulkOperations.Create => _loc.Enum($"{nameof(BulkOperations)}.{BulkOperations.Create}"),
        BulkOperations.Update => _loc.Enum($"{nameof(BulkOperations)}.{BulkOperations.Update}"),
        BulkOperations.Delete => _loc.Enum($"{nameof(BulkOperations)}.{BulkOperations.Delete}"),
        _ => null

    };

    Dictionary<BulkOperations, List<BulkActionTypes>> ActionOperationMapping = new()
    {
        {BulkOperations.Create, new List<BulkActionTypes>(){
            BulkActionTypes.Create_DownloadTemplate,
            BulkActionTypes.Create_Upload} },
        {BulkOperations.Update, new List<BulkActionTypes>(){
            BulkActionTypes.Update_DownloadBlankTemplate,
            BulkActionTypes.Update_DownloadFromData,
            BulkActionTypes.Update_DownloadFromDataMapping,
            BulkActionTypes.Update_Upload}},
        {BulkOperations.Delete, new List<BulkActionTypes>(){
            BulkActionTypes.Delete_DownloadBlankTemplate,
            BulkActionTypes.Delete_DownloadFromDataFiltering,
            BulkActionTypes.Delete_DownloadFromDataMapping,
            BulkActionTypes.Delete_Upload}},
    };

    List<BulkActionTypes> ActionTypeSources => SelectedOperation is null ? new() : ActionOperationMapping[SelectedOperation.Value];
    List<BulkActionTypes> UploadActions = new List<BulkActionTypes>() { BulkActionTypes.Create_Upload, BulkActionTypes.Update_Upload, BulkActionTypes.Delete_Upload };
    List<BulkActionTypes?> DownloadActions = new List<BulkActionTypes?>() {
        BulkActionTypes.Update_DownloadBlankTemplate,
        BulkActionTypes.Update_DownloadFromData,
        BulkActionTypes.Update_DownloadFromDataMapping,
        BulkActionTypes.Create_DownloadTemplate,
        BulkActionTypes.Delete_DownloadBlankTemplate,
    };




    // ======================== PROPERTIES ================================

    private BulkOperations? SelectedOperation { get; set; }
    private BulkDataEntityTypes? SelectedEntityType { get; set; }
    private BulkActionTypes? SelectedActionTypes { get; set; }
    private ItemAdvanceActoionPageItemFilterAndView itemView { get; set; } = default!;
    private ItemAdvanceActoionPageCategoryFilterAndView categoryView { get; set; } = default!;
    private ItemAdvanceActoionPageGroupFilterAndView groupView { get; set; } = default!;
    private ItemAdvanceActoionPageUnitFilterAndView unitView { get; set; } = default!;
    private ItemGroupBulkUploadRecords bulkGroupRecords { get; set; } = default!;
    private ItemCategoryBulkUploadRecords bulkCategoryRecords { get; set; } = default!;
    private ItemBulkUploadRecords bulkItemRecords { get; set; } = default!;
    private ItemUnitBulkUploadRecords bulkItemUnitRecords { get; set; } = default!;

    private bool ShowRecord { get; set; }
    private CancellationTokenSource cts = new();
    AppSuccessAllert? successAllert = null;
    AppErrorAlert? formErrorAlert = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;
        _topBarService.SetTitle(EntityPluralName);
    }


    void SetValue(Action setValueAction)
    {
        setValueAction();
        ShowRecord = false;
        _state.NotifyStateChanged();
    }

    private record FileMapping(BulkOperations Operation, BulkDataEntityTypes Type, BulkActionTypes Action, string FileName);
    async Task Download()
    {
        var fileNames = new List<FileMapping>()
        {
            new FileMapping(BulkOperations.Create, BulkDataEntityTypes.Unit, BulkActionTypes.Create_DownloadTemplate, "CreateItemUnitTemplate.xlsx"),
            new FileMapping(BulkOperations.Create, BulkDataEntityTypes.Group, BulkActionTypes.Create_DownloadTemplate, "CreateItemGroupTemplate.xlsx"),
            new FileMapping(BulkOperations.Create, BulkDataEntityTypes.Category, BulkActionTypes.Create_DownloadTemplate, "CreateItemCategoryTemplate.xlsx"),
            new FileMapping(BulkOperations.Create, BulkDataEntityTypes.ItemMaster, BulkActionTypes.Create_DownloadTemplate, "CreateItemTemplate.xlsx"),

            new FileMapping(BulkOperations.Update, BulkDataEntityTypes.ItemMaster, BulkActionTypes.Update_DownloadBlankTemplate, "UpdateItemTemplate.xlsx"),
            new FileMapping(BulkOperations.Update, BulkDataEntityTypes.Group, BulkActionTypes.Update_DownloadBlankTemplate, "UpdateGroupTemplate.xlsx"),
            new FileMapping(BulkOperations.Update, BulkDataEntityTypes.Category, BulkActionTypes.Update_DownloadBlankTemplate, "UpdateCategoryTemplate.xlsx"),
            new FileMapping(BulkOperations.Update, BulkDataEntityTypes.Unit, BulkActionTypes.Update_DownloadBlankTemplate, "UpdateUnitTemplate.xlsx"),

            new FileMapping(BulkOperations.Delete, BulkDataEntityTypes.ItemMaster, BulkActionTypes.Delete_DownloadBlankTemplate, "DeleteItemTemplate.xlsx"),
            new FileMapping(BulkOperations.Delete, BulkDataEntityTypes.Group, BulkActionTypes.Delete_DownloadBlankTemplate, "DeleteGroupTemplate.xlsx"),
            new FileMapping(BulkOperations.Delete, BulkDataEntityTypes.Category, BulkActionTypes.Delete_DownloadBlankTemplate, "DeleteCategoryTemplate.xlsx"),
            new FileMapping(BulkOperations.Delete, BulkDataEntityTypes.Unit, BulkActionTypes.Delete_DownloadBlankTemplate, "DeleteUnitTemplate.xlsx"),
        };

        await _resourceService.DownloadExcelFile(fileNames.FirstOrDefault(x => x.Operation == SelectedOperation && x.Type == SelectedEntityType && x.Action == SelectedActionTypes)!.FileName);
    }


    private readonly long maxFileSize = 20 * 1024 * 1024;
    private bool uploading = false;
    async Task Upload()
    {
        uploading = true;
        var operation = SelectedOperation switch
        {
            BulkOperations.Create => CrudOperations.Create,
            BulkOperations.Update => CrudOperations.Update,
            BulkOperations.Delete => CrudOperations.Delete,            
            _ => CrudOperations.Create
        };

        Response<Guid?>? response = SelectedEntityType switch
        {
            BulkDataEntityTypes.Group => await _bulkUploadService.UploadItemGroups(fileToUplaod!, operation, cts.Token),
            BulkDataEntityTypes.Category => await _bulkUploadService.UploadItemCategories(fileToUplaod!, operation, cts.Token),
            BulkDataEntityTypes.ItemMaster => await _bulkUploadService.UploadItems(fileToUplaod!, operation, cts.Token),
            BulkDataEntityTypes.Unit => await _bulkUploadService.UploadItemUnits(fileToUplaod!, operation, cts.Token),
            _ => null
        };

        if (response ?? false)
        {
            successAllert!.ShowAlert(Label("UploadSuccessMessage"));
            fileToUplaod = null;
            await LoadDataUpload();
            uploading = false;
            return;
        }

        if (response != null)
            formErrorAlert?.ShowAlert(response);

        uploading = false;
        await Task.CompletedTask;
    }

    async Task OnActionChange(BulkActionTypes? value)
    {
        SelectedActionTypes = value;
        fileToUplaod = null;
        await LoadDataUpload();
        _state.NotifyStateChanged();

    }


    async Task OnEntityTypeChange(BulkDataEntityTypes? value)
    {
        SetValue(() => SelectedEntityType = value);
        fileToUplaod = null;
        await LoadDataUpload();
        _state.NotifyStateChanged();
    }


    async Task OnOperationChange(BulkOperations? value)
    {
        SelectedOperation = value;
        SelectedEntityType = null;
        SelectedActionTypes = null;
        await LoadDataUpload();
        _state.NotifyStateChanged();
    }

    async Task LoadDataUpload()
    {
        if (SelectedOperation != null && !(SelectedActionTypes == BulkActionTypes.Create_Upload || SelectedActionTypes == BulkActionTypes.Delete_Upload || SelectedActionTypes == BulkActionTypes.Update_Upload))
            return;

        var actions = new Dictionary<BulkDataEntityTypes, Func<Task>>()
        {
            {BulkDataEntityTypes.Group, bulkGroupRecords.LoadData},
            {BulkDataEntityTypes.Category, bulkCategoryRecords.LoadData},
            {BulkDataEntityTypes.ItemMaster, bulkItemRecords.LoadData},
            {BulkDataEntityTypes.Unit, bulkItemUnitRecords.LoadData},
        };

        var task = actions[SelectedEntityType!.Value];
        await task();
    }

    async Task OnButtonViewItemClicked()
    {
        await LoadData();
    }

    async Task LoadData()
    {

        if (SelectedEntityType == BulkDataEntityTypes.ItemMaster)
            await itemView.LoadData();

        if (SelectedEntityType == BulkDataEntityTypes.Category)
            await categoryView.LoadData();

        if (SelectedEntityType == BulkDataEntityTypes.Group)
            await groupView.LoadData();

        if (SelectedEntityType == BulkDataEntityTypes.Unit)
            await unitView.LoadData();

        ShowRecord = true;
    }

    IBrowserFile? fileToUplaod { get; set; }
    private void UploadFile(IBrowserFile file)
    {
        fileToUplaod = file;
    }

}