@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Enums
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions
@using Linovative.Frontend.Shared.InputComponents.FilterComponents

@inherits POSManagementPageBase
@inject IItemService _itemService
@inject IApplicationStateService _state

@if (SelectedEntityType == BulkDataEntityTypes.ItemMaster && (
       SelectedActionTypes == BulkActionTypes.Update_DownloadFromData || 
       SelectedActionTypes == BulkActionTypes.Delete_DownloadFromDataFiltering))
{
    
    <LinovativeGap />
    <MudCard Style="max-width: 1960px">
        <ItemFilterComponent 
            FieldValuesChanged="@OnItemFilterValueChanged"
            HideFilterButton="true"
            OnClearFilter="@OnClearFilter"
            HideColumns="new(){}" />
    </MudCard>
    
}



@if (SelectedEntityType == BulkDataEntityTypes.ItemMaster && ShowRecord && (
       SelectedActionTypes == BulkActionTypes.Update_DownloadFromData || 
       SelectedActionTypes == BulkActionTypes.Delete_DownloadFromDataFiltering))
{
    <LinovativeGap />

    <MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
                <th>@ColumHeaderText("ItemCode")</th>
                <th>@ColumHeaderText("ItemName")</th>
               @*  <th>@ColumHeaderText("Unit")</th>
                <th>@ColumHeaderText("Group")</th>
                <th>@ColumHeaderText("Category")</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var row in itemMasters)
        {
            <tr>
               <td>@row.Code</td>
               <td>@row.Name</td>
               @* <td>@row.Unit?.Name</td>
               <td>@row.Category?.ItemGroup?.Name</td>
               <td>@row.Category?.Name</td> *@
            </tr>
        }
        <tr>
            <td colspan="5">
                @if (itemMasters.Count > 0)
                {
                  <MudText>@(recordCount < pageSize ? recordCount : pageSize) of @recordCount records</MudText>
                }
            </td>
        </tr>
    </tbody>     
    <MudPagination ShowPageButtons="false" ShowFirstButton="true" ShowLastButton="true" SelectedChanged="@OnSelectedPageChanged" Count="@pageCount"  />
</MudSimpleTable>

}
@code {
    // Public Properties
    [Parameter] public BulkOperations? SelectedOperation { get; set; }
    [Parameter] public BulkDataEntityTypes? SelectedEntityType { get; set; }
    [Parameter] public BulkActionTypes? SelectedActionTypes { get; set; }
    [Parameter] public bool ShowRecord {get; set;}

    protected override string LocalizerResource => nameof(ItemBulkOperationsPage);

    // Private properties
    List<ItemViewDto> itemMasters = new();
    public List<DataGridFilterModel> FilterModels { get; set; } = new();
    CancellationTokenSource cts = new();
    int currentPage = 0;
    int pageSize = 10;
    int pageCount = 0;
    int recordCount = 0;
    int itemFilterCount = 0;


    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }




    void OnItemFilterValueChanged(List<DataGridFilterModel> fieldValues)
    {
        FilterModels = fieldValues;
    }


    // Load Items
    public async Task LoadData()
    {
        var odataFilter = new ODataFilter()
        {
            PageNumber = currentPage,
            PageSize = pageSize,
            OrderFiled = null,
            SortDirection = SortDirection.Ascending.ToString(),
            //Options = $"$expand=unit,category($expand=itemGroup)",
            FilterPayload = new { filter = FilterModels.ToFilterCondition() }
        };
        itemFilterCount = FilterModels.Count;
        var result = await _itemService.Get(odataFilter, cts.Token);
        var records = result?.Count ?? 0;
        var hasMod = records % pageSize > 0;
        recordCount = records;
        pageCount = records == 0 ? 0 : records <= pageSize ? 1 : (records - (records % pageSize)) / pageSize + (hasMod? 1 : 0);
        itemMasters = result?.Data ?? new();
        _state.NotifyStateChanged();
    }

    async Task OnSelectedPageChanged(int page)
    {
        currentPage = page;
        await LoadData();
    }

    void OnClearFilter()
    {
        if (itemFilterCount == 0)
            return;

        Reset();
    }

    public void Reset()
    {
        itemMasters = new();
        currentPage = 1;
        pageCount = 0;
        recordCount = 0;
    }
}
