@using Linovative.Frontend.POSComponents.Bases
@using Linovative.Frontend.POSComponents.Enums
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions
@using Linovative.Frontend.Shared.InputComponents.FilterComponents

@inherits POSManagementPageBase
@inject ISKUItemService _itemService
@inject IApplicationStateService _state

@if (loaded)
{

    @if (SelectedEntityType == BulkDataEntityTypes.ItemMaster && (
           SelectedActionTypes == BulkActionTypes.Update_DownloadFromData ||
           SelectedActionTypes == BulkActionTypes.Delete_DownloadFromDataFiltering))
    {

        <LinovativeGap />
        <MudCard Style="max-width: 1960px">
            <SKUItemFilterComponent FieldValuesChanged="@OnItemFilterValueChanged"
                                    HideFilterButton="true"
                                    OnClearFilter="@OnClearFilter"
                                    HideColumns="new(){}" />
        </MudCard>

    }



    @if (SelectedEntityType == BulkDataEntityTypes.ItemMaster && ShowRecord && (
           SelectedActionTypes == BulkActionTypes.Update_DownloadFromData ||
           SelectedActionTypes == BulkActionTypes.Delete_DownloadFromDataFiltering))
    {
        <LinovativeGap />

        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>@ColumHeaderText("SKU")</th>
                    <th>@ColumHeaderText("ItemName")</th>
                    <th>@ColumHeaderText("VarianName")</th>
                    <th>@ColumHeaderText("UnitName")</th>
                    <th>@ColumHeaderText("CategoryName")</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var row in itemMasters)
                {
                    <tr>
                        <td>@row.SKU</td>
                        <td>@row.ItemName</td>
                        <td>@row.VarianName</td>
                        <td>@row.UnitName</td>
                        <td>@row.CategoryName</td>
                    </tr>
                }
                <tr>
                    <td colspan="5">
                        @if (itemMasters.Count > 0)
                        {
                            <MudText>@(recordCount<pageSize? recordCount : pageSize) of @recordCount records</MudText>
                        }
                    </td>
                </tr>
            </tbody>
            <MudPagination ShowPageButtons="false" ShowFirstButton="true" ShowLastButton="true" SelectedChanged="@OnSelectedPageChanged" Count="@pageCount" />
        </MudSimpleTable>

    }
}

@code {
    // Public Properties
    [Parameter] public BulkOperations? SelectedOperation { get; set; }
    [Parameter] public BulkDataEntityTypes? SelectedEntityType { get; set; }
    [Parameter] public BulkActionTypes? SelectedActionTypes { get; set; }
    [Parameter] public bool ShowRecord { get; set; }

    protected override string LocalizerResource => nameof(ItemBulkOperationsPage);

    // Private properties
    List<SKUItemViewDto> itemMasters = new();
    public List<DataGridFilterModel> FilterModels { get; set; } = new();
    CancellationTokenSource cts { get; set; } = new();
    int currentPage = 0;
    readonly int pageSize = 10;
    int pageCount = 0;
    int recordCount = 0;
    int itemFilterCount = 0;
    bool loaded;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _state.OnChange += StateHasChanged;
        loaded = true;
    }




    void OnItemFilterValueChanged(List<DataGridFilterModel> fieldValues)
    {
        FilterModels = fieldValues;
        _state.NotifyStateChanged();
    }


    // Load Items
    public async Task LoadData()
    {
        var odataFilter = new ODataFilter()
        {
            PageNumber = currentPage,
            PageSize = pageSize,
            OrderFiled = null,
            SortDirection = SortDirection.Ascending.ToString(),
            //Options = $"$expand=unit,category($expand=itemGroup)",
            FilterPayload = new { filter = FilterModels.ToFilterCondition() }
        };
        itemFilterCount = FilterModels.Count;
        var result = await _itemService.Get(odataFilter, cts.Token);
        var records = result?.Count ?? 0;
        var hasMod = records % pageSize > 0;
        recordCount = records;
        pageCount = records == 0 ? 0 : records <= pageSize ? 1 : (records - (records % pageSize)) / pageSize + (hasMod ? 1 : 0);
        itemMasters = result?.Data ?? new();
        _state.NotifyStateChanged();
    }

    async Task OnSelectedPageChanged(int page)
    {
        currentPage = page;
        await LoadData();
    }

    void OnClearFilter()
    {
        if (itemFilterCount == 0)
            return;

        Reset();
    }

    public void Reset()
    {
        itemMasters = new();
        currentPage = 1;
        pageCount = 0;
        recordCount = 0;
    }
}
