@page "/register/new/company"
@layout UnAuthorizedLayout
@using System.Text.RegularExpressions
@using LinoVative.Shared.Dto
@using LinoVative.Shared.Dto.Sources
@inherits LinovativePageBase
@using Linovative.Frontend.Services.FrontendServices
@inject IRegisterCompanyService _service
@inject IApplicationState _state
@inject IAppNavigationManager _nav

<PageTitle>@Lang("Title")</PageTitle>


<MudForm @ref="form" @bind-IsValid="@isFormValid" @bind-Errors="@errors" @onkeypress="@HideErrors">

    <div style="max-width: 900px; margin: auto;">

        <MudGrid Spacing="10">

            <MudItem xs="12" lg="12">
                <MudText Align="Align.Center" Typo="Typo.h4">@Lang("Title")</MudText>

                <LinovativeGap />
                <AppErrorAlert AutoClose="false" @ref="@formErrorAlert" />
                <AppSuccessAllert @ref="@successAllert" AutoClose="true" />

            </MudItem>



            <MudItem xs="12" lg="6">

                <MudText Typo="Typo.h6">@Lang("SubTitle.CompanyDetail"):</MudText>
                <LinovativeGap />

                <LinovativeInputText IsRequired=true
                                     LocalizerResource="@LocalizerResource"
                                     LocalizerKey="Name"
                                     Errors="@formResponse?.Errors"
                                     @bind-Value="@item.Name" />
                <LinovativeGap />

                <LinovativeInputText IsRequired=true
                                     LocalizerResource="@LocalizerResource"
                                     LocalizerKey="Address"
                                     Errors="@formResponse?.Errors"
                                     @bind-Value="@item.Address" />
                <LinovativeGap />


                <CountryDropdown LocalizerKey="Country"
                                 LocalizerResource="@LocalizerResource"
                                 Errors="@formResponse?.Errors"
                                 Required="true"
                                 Value="@country"
                                 ValueChanged="@(x => country = x)" />
                <LinovativeGap />

                <TimezoneDropdown Required="true"
                                  LocalizerKey="TimeZone"
                                  LocalizerResource="@LocalizerResource"
                                  Errors="@formResponse?.Errors"
                                  Value="@timezone"
                                  ValueChanged="@(x => timezone = x)" />
                <LinovativeGap />

                <CurrencyDropdown Required="true"
                                  LocalizerKey="Currency"
                                  LocalizerResource="@LocalizerResource"
                                  Value="@currency"
                                  ValueChanged="@(x => currency = x)" />
            </MudItem>




            <MudItem xs="12" lg="6">

                <MudText Typo="Typo.h6">@Lang("SubTitle.UserDetail"):</MudText>
                <LinovativeGap />

                <LinovativeInputText IsRequired=true
                                     LocalizerKey="NikeName"
                                     LocalizerResource="@LocalizerResource"
                                     Errors="@formResponse?.Errors"
                                     @bind-Value="@item.NickName" />
                <LinovativeGap />


                <LinovativeInputText IsRequired=true
                                     LocalizerKey="EmailAddress"
                                     InputType="InputType.Email"
                                     LocalizerResource="@LocalizerResource"
                                     Errors="@formResponse?.Errors"
                                     @bind-Value="@item.EmailAddress" />
                <LinovativeGap />


                <LinovativeInputText IsRequired=true
                                     LocalizerKey="Password"
                                     InputType="InputType.Password"
                                     LocalizerResource="@LocalizerResource"
                                     Errors="@formResponse?.Errors"
                                     @bind-Value="@item.Password" />
                <LinovativeGap />

                <LinovativeInputText IsRequired=true
                                     InputType="InputType.Password"
                                     Error="!IsPasswordMatch()"
                                     LocalizerKey="ConfirmPassword"
                                     LocalizerResource="@LocalizerResource"
                                     Errors="@formResponse?.Errors"
                                     ErrorMessage="@confirmMessage"
                                     @bind-Value="@confirmPassword" />
                <LinovativeGap />

            </MudItem>


            <MudItem xs="12" lg="12">
                <LinovativeButton OnClicked="@Submit" Disabled="isFormSubmitting" Size="LinoSize.Large" FullWidth="true" Text="@Text("Register")" />
                <LinovativeGap />
                <div style="text-align: center">
                    <MudText Align="Align.Center" Typo="Typo.caption">@Text("Login.Description")</MudText>
                </div>
                <LinovativeGap />
                <LinovativeButton OnClicked="@Login" Variant="LinoVariant.Text" Size="LinoSize.Large" FullWidth="true" Text="@Text("Login")" />
            </MudItem>


        </MudGrid>
    </div>

</MudForm>

@code {
    bool isFormValid;
    string[] errors = { };
    MudTextField<string> pwField1 = default!;
    MudForm form = default!;
    protected override string LocalizerResource => nameof(CompanyRegisterPage);
    private AppErrorAlert? formErrorAlert { get; set; }
    private AppSuccessAllert? successAllert { get; set; }
    private RegisterNewCompanyDto item = new();
    private CountryDto? country = null;
    private TimezoneDto? timezone = null;
    private CurrencyDto? currency = null;
    private string confirmPassword = "";
    private CancellationTokenSource cts = new();
    private Response? formResponse { get; set; } = null;
    private bool isFormSubmitting = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    async Task HideAllAllert()
    {
        if (form is not null) await form.ResetAsync();
        successAllert?.HideAlert();
        formErrorAlert?.HideAlert();
    }

    void HideErrors()
    {
        formErrorAlert?.HideAlert();
        formResponse = null;
    }

    async Task Reset()
    {
        item = new();
        formResponse = null;
        isFormSubmitting = false;
        await HideAllAllert();
        _state.NotifyStateChanged();
    }


    async Task Submit()
    {
        isFormSubmitting = true;
        await form!.Validate();

        if (!isFormValid)
        {
            isFormSubmitting = false;
            return;
        }

        if(!IsPasswordMatch())
        {
            formErrorAlert!.ShowAlert(new() { Message = Lang("ConfirmPassword.NotMatch")});
            isFormSubmitting = false;
            _state.NotifyStateChanged();
            return;
        }

        item.CountryId = country!.Id;
        item.CurrencyId = currency!.Id;
        item.TimeZoneId = timezone!.Id;
        item.Id = Guid.NewGuid();

        formResponse = await _service.Register(item, cts.Token);
        if (formResponse)
        {
            await Reset();
            successAllert!.ShowAlert(Lang("Register.Success"));

            var task = new Task(async () =>
            {
                await Task.Delay(1000 * 5);
                _nav.NavigateTo("/login");
            });

            task.RunSynchronously();

            return;
        }

        isFormSubmitting = false;
        formErrorAlert!.ShowAlert(formResponse);
    }


    bool IsPasswordMatch()
    {
        if(string.IsNullOrEmpty(item.Password)) return true;

        return (item!.Password!.Equals(confirmPassword));
    }

    string? confirmMessage => IsPasswordMatch() ? null : Lang("ConfirmPassword.NotMatch");

    void Login() => _nav.NavigateTo("/login");

}