@using LinoVative.Shared.Dto
@using LinoVative.Shared.Dto.MasterData.Payments
@using LinoVative.Shared.Dto.MasterData.Shifts
@using LinoVative.Shared.Dto.OrderTypes
@using LinoVative.Shared.Dto.Outlets
@using Linovative.Frontend.POSComponents.Bases
@using System.Threading.Tasks
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions

@implements IDisposable
@inherits POSManagementPageBase
@inject IShiftService _shiftService
@inject IApplicationStateService _state

<MudToolBar>
    <MudTooltip Class="cursor-pointer" Text="@Label("Sort")">
        <MudIconButton OnClick="@(() => { moveMode = !moveMode; selectedShift = null; })"
                       Color="@(moveMode? Color.Primary : Color.Inherit)" Icon="@Icons.Material.Filled.SortByAlpha" Class="mr-5" />
    </MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveUp")"><MudIconButton onclick="@(() => Move(true))" Disabled="@(!moveMode || selectedShift is null)" Icon="@Icons.Material.Filled.ArrowUpward" /></MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveDown")"><MudIconButton onclick="@(() => Move(false))" Disabled="@(!moveMode || selectedShift is null)" Icon="@Icons.Material.Filled.ArrowDownward" /></MudTooltip>
</MudToolBar>


<MudGrid Spacing="20" Justify="Justify.SpaceBetween">

    <MudItem xs="12" md="6">

        <MudSimpleTable Style="overflow-x: auto;">
            <tbody>
                @foreach (var shift in _shifts.OrderBy(x => x.Value.Sequence))
                {
                    @if (!moveMode)
                    {
                        <tr>
                            <td style="min-width: 150px">
                                <div class="d-flex">
                                    <MudSwitch Value="@shift.Value.IsActive"
                                               T="bool"
                                               ValueChanged="@((x) => ShiftActiveChange(shift.Value, x))"
                                               Label="@shift.Key.Name" Color="Color.Info" />
                                </div>
                            </td>


                            <td style="width: 200px">
                                <LinovativeTimePicker Disabled="@(!shift.Value.IsActive)"
                                                      Value="@shift.Value.StartTime"
                                                      ValueChanged="@(x => shift.Value.StartTime = x)"
                                                      IsRequired="true"
                                                      Errors="@Result?.Errors"
                                                      LocalizerResource="@LocalizerResource"
                                                      LocalizerKey="StartTime" />
                            </td>

                            <td style="width: 200px">
                                <LinovativeTimePicker Disabled="@(!shift.Value.IsActive)"
                                                      Value="@shift.Value.EndTime"
                                                      ValueChanged="@(x => shift.Value.EndTime = x)"
                                                      IsRequired="true"
                                                      Errors="@Result?.Errors"
                                                      LocalizerResource="@LocalizerResource"
                                                      LocalizerKey="EndTime" />
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="@(selectedShift == shift.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedShift = shift.Value; })" class="full-width cursor-pointer py-4">@shift.Key.Name @shift.Value.Sequence</div></td>
                            <td class="@(selectedShift == shift.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedShift = shift.Value; })" class="full-width cursor-pointer py-4">@shift.Value.StartTime</div></td>
                            <td class="@(selectedShift == shift.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedShift = shift.Value; })" class="full-width cursor-pointer py-4">@shift.Value.EndTime</div></td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>

    </MudItem>

</MudGrid>
@code {

    [Parameter] public OutletDto? Outlet { get; set; }
    [Parameter] public Response? Result { get; set; }

    protected override string LocalizerResource => nameof(OutletsPage);

    private List<KeyValuePair<ShiftViewDto, OutletShiftDto>> _shifts { get; set; } = new();
    private List<ShiftViewDto> _shiftSources = new();
    private CancellationTokenSource cancellationTokenSource { get; set; } = new();
    private OutletShiftDto? selectedShift;
    private bool moveMode;

    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        _state.OnChange += GetShift;
        await base.OnInitializedAsync();
        await LoadShift();
        _state.NotifyStateChanged();
    }



    int lastSequence = 0;
    async Task LoadShift()
    {
        lastSequence = Outlet?.Shifts.Count == 0 ? 0 : Outlet!.Shifts.Max(x => x.Sequence);
        var shiftTask = _shiftService.GetAll(cancellationTokenSource.Token);

        await Task.WhenAll(shiftTask);
        _shiftSources = (await shiftTask).Data!;
    }

    void GetShift()
    {
        if (Outlet is null) return;

        Func<ShiftViewDto, OutletShiftDto> getOutletShift = (shift) =>
        {
            var selectShift = Outlet?.Shifts.FirstOrDefault(x => x.ShiftId == shift.Id);
            return selectShift is null? CreateNewShift(shift) : selectShift;
        };

        var shifts = _shiftSources.Select(x => new KeyValuePair<ShiftViewDto, OutletShiftDto>(x, getOutletShift(x))).ToList();
        shifts.ReAssignSequence();
        _shifts = shifts;
    }

    void ShiftActiveChange(OutletShiftDto shift, bool isActive)
    {
        var outlet = Outlet;
        shift.IsActive = isActive;
    }

    OutletShiftDto CreateNewShift(ShiftViewDto shift)
    {
        lastSequence++;
        var newShift = new OutletShiftDto()
        {
            IsActive = false,
            StartTime = shift.StartTime,
            EndTime = shift.EndTime,
            Sequence = lastSequence,
            ShiftId = shift.Id,
            OutletId = Outlet!.Id
        };
        Outlet!.Shifts.Add(newShift);
        return newShift;
    }

    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
        _state.OnChange -= GetShift;
    }

    void Move(bool moveUp)
    {
        _shifts.SortObject(moveUp, selectedShift);
    }

    

}
