@using LinoVative.Shared.Dto
@using LinoVative.Shared.Dto.MasterData.Payments
@using LinoVative.Shared.Dto.MasterData.Shifts
@using LinoVative.Shared.Dto.OrderTypes
@using LinoVative.Shared.Dto.Outlets
@using Linovative.Frontend.POSComponents.Bases
@using System.Threading.Tasks
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions

@inherits POSManagementPageBase
@inject IShiftService _shiftService
@inject IApplicationStateService _state

<MudToolBar>
    <MudTooltip Class="cursor-pointer" Text="@Label("Sort")">
        <MudIconButton OnClick="@(() => { moveMode = !moveMode; selectedShift = null; })"
                       Color="@(moveMode? Color.Primary : Color.Inherit)" Icon="@Icons.Material.Filled.SortByAlpha" Class="mr-5" />
    </MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveUp")"><MudIconButton onclick="@(() => Move(true))" Disabled="@(!moveMode || selectedShift is null)" Icon="@Icons.Material.Filled.ArrowUpward" /></MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveDown")"><MudIconButton onclick="@(() => Move(false))" Disabled="@(!moveMode || selectedShift is null)" Icon="@Icons.Material.Filled.ArrowDownward" /></MudTooltip>
</MudToolBar>


<MudGrid Spacing="20" Justify="Justify.SpaceBetween">

    <MudItem xs="12" md="6">

        <MudSimpleTable Style="overflow-x: auto;">
            <tbody>
                @foreach (var shift in _shifts.OrderBy(x => x.Value.Sequence))
                {
                    @if (!moveMode)
                    {
                        <tr>
                            <td style="min-width: 150px">
                                <div class="d-flex"><MudSwitch @bind-Value="@shift.Value.IsActive" Label="@shift.Key.Name" Color="Color.Info" /></div>
                            </td>


                            <td style="width: 200px">
                                <LinovativeTimePicker Disabled="@(!shift.Value.IsActive)"
                                                      Value="@shift.Value.StartTime"
                                                      ValueChanged="@(x => shift.Value.StartTime = x)"
                                                      IsRequired="true"
                                                      Errors="@Result?.Errors"
                                                      LocalizerResource="@LocalizerResource"
                                                      LocalizerKey="StartTime" />
                            </td>

                            <td style="width: 200px">
                                <LinovativeTimePicker Disabled="@(!shift.Value.IsActive)"
                                                      Value="@shift.Value.EndTime"
                                                      ValueChanged="@(x => shift.Value.EndTime = x)"
                                                      IsRequired="true"
                                                      Errors="@Result?.Errors"
                                                      LocalizerResource="@LocalizerResource"
                                                      LocalizerKey="EndTime" />
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="@(selectedShift == shift.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedShift = shift.Value; })" class="full-width cursor-pointer py-4">@shift.Key.Name @shift.Value.Sequence</div></td>
                            <td class="@(selectedShift == shift.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedShift = shift.Value; })" class="full-width cursor-pointer py-4">@shift.Value.StartTime</div></td>
                            <td class="@(selectedShift == shift.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedShift = shift.Value; })" class="full-width cursor-pointer py-4">@shift.Value.EndTime</div></td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>

    </MudItem>

</MudGrid>
@code {

    [Parameter] public OutletDto? Outlet { get; set; }
    [Parameter] public Response? Result { get; set; }

    protected override string LocalizerResource => nameof(OutletsPage);

    private List<KeyValuePair<ShiftViewDto, OutletShiftDto>> _shifts { get; set; } = new();
    private CancellationTokenSource cancellationTokenSource { get; set; } = new();
    private OutletShiftDto? selectedShift;
    private bool moveMode;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadPaymentMethod();
    }



    int lastSequence = 0;
    async Task LoadPaymentMethod()
    {
        lastSequence = Outlet?.Shifts.Count == 0? 0 : Outlet!.Shifts.Max(x => x.Sequence);
        var shiftTask = _shiftService.GetAll(cancellationTokenSource.Token);

        await Task.WhenAll(shiftTask);

        var shifts  = (await shiftTask).Data!
        .Select(x => new KeyValuePair<ShiftViewDto, OutletShiftDto>(x, Outlet?.Shifts
        .FirstOrDefault(x => x.ShiftId == x.Id) ?? CreateNewShift(x)))
        .ToList();

        shifts.ReAssignSequence();
        _shifts = shifts;
    }


    OutletShiftDto CreateNewShift(ShiftViewDto shift)
    {
        lastSequence++;
        var newShift = new OutletShiftDto() { IsActive = false, StartTime = shift.StartTime, EndTime = shift.EndTime, Sequence = lastSequence };
        Outlet!.Shifts.Add(newShift);
        return newShift;
    }

    void Move(bool moveUp)
    {
        _shifts.SortObject(moveUp, selectedShift);
    }


}
