@using LinoVative.Shared.Dto
@using LinoVative.Shared.Dto.MasterData.Payments
@using LinoVative.Shared.Dto.MasterData.Shifts
@using LinoVative.Shared.Dto.OrderTypes
@using LinoVative.Shared.Dto.Outlets
@using Linovative.Frontend.POSComponents.Bases
@using System.Threading.Tasks
@using Linovative.Frontend.Services.Models
@using Linovative.Shared.Interface
@using Linovative.Frontend.Shared.Extensions

@inherits POSManagementPageBase
@inject IPaymentMethodService _paymentMethodService
@inject IOrderTypeService _OrderTypeService
@inject IBankNoteService _bankNotesService
@inject IApplicationStateService _state
@implements IDisposable

<MudToolBar>
    <MudTooltip Class="cursor-pointer" Text="@Label("Sort")">
        <MudIconButton OnClick="@(() => { moveMode = !moveMode; selectedObject = null; })"
                       Color="@(moveMode? Color.Primary : Color.Inherit)" Icon="@Icons.Material.Filled.SortByAlpha" Class="mr-5" />
    </MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveUp")"><MudIconButton onclick="@(() => Move(true))" Disabled="@(!moveMode || selectedObject is null)" Icon="@Icons.Material.Filled.ArrowUpward" /></MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveDown")"><MudIconButton onclick="@(() => Move(false))" Disabled="@(!moveMode || selectedObject is null)" Icon="@Icons.Material.Filled.ArrowDownward" /></MudTooltip>
</MudToolBar>


<LinovativeGap />
<MudGrid Spacing="20" Justify="Justify.SpaceBetween">

    <MudItem xs="12" sm="5" lg="4">
        <MudText Typo="Typo.h6">@Label("PaymentMethods")</MudText>
        <MudSimpleTable Style="overflow-x: auto;">
            <tbody>
                @foreach (var p in _paymentMethods.OrderBy(x => x.Value.Sequence))
                {
                    @if (!moveMode)
                    {
                        <tr>

                            <td style="min-width: 150px">
                                <div class="d-flex"><MudSwitch @bind-Value="@p.Value.IsActive" Label="@p.Key.Name" Color="Color.Info" /></div>
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="@(selectedObject == p.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedObject = p.Value; })" class="full-width cursor-pointer py-4">@p.Key.Name</div></td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>

        <LinovativeGap />
        <MudText Typo="Typo.h6">@Label("BankNotes")</MudText>
        <MudSimpleTable Style="overflow-x: auto;">
            <tbody>
                @foreach (var p in _bankNotes.OrderBy(x => x.Value.Sequence))
                {
                    @if (!moveMode)
                    {
                        <tr>

                            <td style="min-width: 150px">
                                <div class="d-flex"><MudSwitch @bind-Value="@p.Value.IsActive" Label="@($"{p.Key.Note?.ToString("N2")}")" Color="Color.Info" /></div>
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="@(selectedObject == p.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedObject = p.Value; })" class="full-width cursor-pointer py-4">@p.Key.Note?.ToString("N2")</div></td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>

    </MudItem>

    <MudItem xs="12" sm="6" lg="7">
        <MudText Typo="Typo.h6">@Label("OrderTypes")</MudText>
        <MudSimpleTable Style="overflow-x: auto;">
            <tbody>
                @foreach (var ot in _orderTypes.OrderBy(x => x.Value.Sequence))
                {
                    @if (!moveMode)
                    {
                        <tr>

                            <td style="min-width: 200px">
                                <div class="d-flex"><MudSwitch @bind-Value="@ot.Value.IsActive" Label="@ot.Key.Name" Color="Color.Info" /></div>
                            </td>


                            <td style="width: 150px">
                                <LinovativeInputGeneric Disabled="@(!ot.Value.IsActive)"
                                                        T="decimal"
                                                        Value="@ot.Value.TaxPercent"
                                                        ValueChanged="@(x => ot.Value.TaxPercent = x)"
                                                        IsRequired="true"
                                                        Errors="@Result?.Errors"
                                                        Style="width: 150px"
                                                        LocalizerResource="@LocalizerResource"
                                                        LocalizerKey="TaxPercent" />
                            </td>



                            <td style="width: 150px">
                                <LinovativeInputGeneric T="decimal"
                                                        Disabled="@(!ot.Value.IsActive)"
                                                        Value="@ot.Value.ServicePercent"
                                                        ValueChanged="@(x => ot.Value.ServicePercent = x)"
                                                        IsRequired="true"
                                                        Errors="@Result?.Errors"
                                                        Style="width: 150px"
                                                        LocalizerResource="@LocalizerResource"
                                                        LocalizerKey="ServicePercent" />
                            </td>



                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="@(selectedObject == ot.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedObject = ot.Value; })" class="full-width cursor-pointer py-4">@ot.Key.Name</div></td>
                            <td class="@(selectedObject == ot.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedObject = ot.Value; })" class="full-width cursor-pointer py-4">@ot.Value.TaxPercent</div></td>
                            <td class="@(selectedObject == ot.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedObject = ot.Value; })" class="full-width cursor-pointer py-4">@ot.Value.ServicePercent</div></td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>

    </MudItem>


</MudGrid>
@code {

    [Parameter] public OutletDto? Outlet { get; set; }
    [Parameter] public Response? Result { get; set; }

    protected override string LocalizerResource => nameof(OutletsPage);

    private List<KeyValuePair<PaymentMethodViewDto, OutletPaymentMethodDto>> _paymentMethods { get; set; } = new();
    private List<KeyValuePair<OrderTypeViewDto, OutletOrderTypeDto>> _orderTypes { get; set; } = new();
    private List<KeyValuePair<BankNoteDto, OutletBankNoteDto>> _bankNotes { get; set; } = new();
    private CancellationTokenSource cancellationTokenSource { get; set; } = new();
    private bool moveMode = false;
    private IHasSequence? selectedObject;
    private List<PaymentMethodViewDto> _paymentMethodSource { get; set; } = new();
    private List<OrderTypeViewDto> _orderTypeSource { get; set; } = new();
    private List<BankNoteDto> _bankNoteSource { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        _state.OnChange += GenerateData;
        await base.OnInitializedAsync();
        await LoadData();
        _state.NotifyStateChanged();
    }


    async Task LoadData()
    {
        var paymentMethodTask = _paymentMethodService.GetAll(cancellationTokenSource.Token);
        var orderTypeTasks = _OrderTypeService.GetAll(cancellationTokenSource.Token);
        var bankNoteTask = _bankNotesService.GetAll(cancellationTokenSource.Token);

        await Task.WhenAll(paymentMethodTask, orderTypeTasks, bankNoteTask);
        _paymentMethodSource = (await paymentMethodTask).Data!;
        _orderTypeSource = (await orderTypeTasks).Data!;
        _bankNoteSource = (await bankNoteTask).Data!;
    }

    void GenerateData()
    {
        if (Outlet is null) return;

        Func<PaymentMethodViewDto, OutletPaymentMethodDto> getPaymentMethod = (pm) =>
        {
            var data = Outlet?.PaymentMethods.FirstOrDefault(x => x.PaymentMethodId == pm.Id);
            return data is null ? CreateNewPaymentMethod(pm) : data;
        };

        Func<OrderTypeViewDto, OutletOrderTypeDto> getOrderType = (ot) =>
        {
            var data = Outlet?.OrderTypes.FirstOrDefault(x => x.OrderTypeId == ot.Id);
            return data is null ? CreateNewOrderType(ot) : data;
        };

        Func<BankNoteDto, OutletBankNoteDto> getBankNote = (bn) =>
        {
            var data = Outlet?.BankNotes.FirstOrDefault(x => x.BankNoteId == bn.Id);
            return data is null ? CreateNewBankNote(bn) : data;
        };

        var paymentMethods = _paymentMethodSource.Select(x => new KeyValuePair<PaymentMethodViewDto, OutletPaymentMethodDto>(x, getPaymentMethod(x))).ToList();
        paymentMethods.ReAssignSequence();
        _paymentMethods = paymentMethods;

        var orderTypes = _orderTypeSource
        .Select(x => new KeyValuePair<OrderTypeViewDto, OutletOrderTypeDto>(x, getOrderType(x))).ToList();
        orderTypes.ReAssignSequence();
        _orderTypes = orderTypes;

        var bankNotes = _bankNoteSource
        .Select(x => new KeyValuePair<BankNoteDto, OutletBankNoteDto>(x, getBankNote(x))).ToList();
        bankNotes.ReAssignSequence();
        _bankNotes = bankNotes;
    }

    int? countPaymentMethod = null;
    OutletPaymentMethodDto CreateNewPaymentMethod(PaymentMethodViewDto pm)
    {
        countPaymentMethod ??= Outlet?.PaymentMethods.Count ?? 0;
        countPaymentMethod++;
        var newPaymentMethod = new OutletPaymentMethodDto() { 
            IsActive = false,
            OutletId = Outlet!.Id,
            PaymentMethodId = pm.Id,
            Sequence = countPaymentMethod.Value 
        };
        Outlet!.PaymentMethods.Add(newPaymentMethod);
        return newPaymentMethod;
    }


    int? countOrderType = null;
    OutletOrderTypeDto CreateNewOrderType(OrderTypeViewDto ot)
    {
        countOrderType ??= Outlet?.OrderTypes.Count ?? 0;
        countOrderType++;
        var newOrderType = new OutletOrderTypeDto() { 
            IsActive = false,
            OutletId = Outlet!.Id,
            OrderTypeId = ot.Id,
            Sequence = countOrderType.Value 
        };
        Outlet!.OrderTypes.Add(newOrderType);
        return newOrderType;
    }


    int? countBankNote = null;
    OutletBankNoteDto CreateNewBankNote(BankNoteDto bn)
    {
        countBankNote ??= Outlet?.BankNotes.Count ?? 0;
        countBankNote++;
        var bankNote = new OutletBankNoteDto() { 
            IsActive = false,
            OutletId = Outlet!.Id,
            BankNoteId = bn.Id,
            Sequence = countBankNote.Value 
        };
        Outlet!.BankNotes.Add(bankNote);
        return bankNote;
    }

    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
        _state.OnChange -= GenerateData;
    }

    void Move(bool moveUp)
    {
        if (selectedObject is OutletPaymentMethodDto)
            _paymentMethods.SortObject(moveUp, selectedObject);

        if (selectedObject is OutletOrderTypeDto)
            _orderTypes.SortObject(moveUp, selectedObject);

        if (selectedObject is OutletBankNoteDto)
            _bankNotes.SortObject(moveUp, selectedObject);
    }

}
