@using LinoVative.Shared.Dto
@using LinoVative.Shared.Dto.MasterData.Payments
@using LinoVative.Shared.Dto.MasterData.Shifts
@using LinoVative.Shared.Dto.OrderTypes
@using LinoVative.Shared.Dto.Outlets
@using Linovative.Frontend.POSComponents.Bases
@using System.Threading.Tasks
@using Linovative.Frontend.Services.Models
@using Linovative.Frontend.Shared.Extensions

@inherits POSManagementPageBase
@inject IItemCategoryService _categoryService
@inject IApplicationStateService _state
@implements IDisposable


<MudToolBar>
    <MudTooltip Class="cursor-pointer" Text="@Label("Sort")">
        <MudIconButton OnClick="@(() => { moveMode = !moveMode; selectedObject = null; })"
                       Color="@(moveMode? Color.Primary : Color.Inherit)" Icon="@Icons.Material.Filled.SortByAlpha" Class="mr-5" />
    </MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveUp")"><MudIconButton onclick="@(() => Move(true))" Disabled="@(!moveMode || selectedObject is null)" Icon="@Icons.Material.Filled.ArrowUpward" /></MudTooltip>
    <MudTooltip Class="cursor-pointer" Text="@Label("MoveDown")"><MudIconButton onclick="@(() => Move(false))" Disabled="@(!moveMode || selectedObject is null)" Icon="@Icons.Material.Filled.ArrowDownward" /></MudTooltip>
</MudToolBar>


@if (Outlet is not null)
{
    <MudGrid Spacing="20" Justify="Justify.SpaceBetween">

        <MudItem xs="12">
            <div class="d-flex">
                <MudSwitch @bind-Value="@Outlet.UseAllItemGroup" Label="@Label("UseAllItemGroup")" Color="Color.Info" />
            </div>

        </MudItem>


        @if (!Outlet.UseAllItemGroup)
        {
            <MudItem xs="12" md="6" Class="pt-4">
                <MudSimpleTable Style="overflow-x: auto; max-width: 600px">
                    <tbody>
                        @foreach (var g in _groups.OrderBy(x => x.Value.Sequence))
                        {
                            @if (!moveMode)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div><MudSwitch @bind-Value="@g.Value.IsActive" Label="@g.Key.Name" Color="Color.Info" /></div>
                                        </div>
                                        @if (g.Value.IsActive)
                                        {
                                            <div class="ms-15">
                                                <div class="d-flex"><MudSwitch Disabled="@(!g.Value.IsActive)" @bind-Value="@g.Value.UseAllItemCategories" Label="@Label("UseAllItemCategories")" Color="Color.Info" /></div>
                                                @foreach (var c in GetCategories(g.Key.Id))
                                                {
                                                    <div class="d-flex"><MudSwitch Disabled="@(g.Value.UseAllItemCategories)" @bind-Value="@c.Value.IsActive" Label="@c.Key.Name" Color="Color.Info" /></div>
                                                }
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="@(selectedObject == g.Value ? "mud-theme-primary" : "")"><div @onclick="@(() => { selectedObject = g.Value; })" class="full-width cursor-pointer py-4">@g.Key.Name</div></td>
                                </tr>
                            }
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
        }


    </MudGrid>
}

@code {

    [Parameter] public OutletDto? Outlet { get; set; }
    [Parameter] public Response? Result { get; set; }

    protected override string LocalizerResource => nameof(OutletsPage);

    private List<KeyValuePair<ItemGroupDto, OutletItemGroupDto>> _groups { get; set; } = new();
    private List<KeyValuePair<ItemCategoryDto, OutletItemCategoryDto>> _categories { get; set; } = new();
    private CancellationTokenSource cancellationTokenSource { get; set; } = new();
    private List<ItemCategoryViewDto> _sources { get; set; } = new();
    private bool moveMode { get; set; }
    private object? selectedObject { get; set; }


    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        _state.OnChange += GenerateData;
        await LoadData();
        await base.OnInitializedAsync();
        _state.NotifyStateChanged();
    }

    IEnumerable<KeyValuePair<ItemCategoryDto, OutletItemCategoryDto>> GetCategories(Guid groupId)
    {
        return _categories.Where(x => x.Key.GroupId == groupId);
    }

    async Task LoadData()
    {
        var oDataFilter = new ODataFilter(){Options = $"$expand={nameof(ItemCategoryViewDto.ItemGroup)}"};
        var categoryTask = _categoryService.GetAll(oDataFilter, cancellationTokenSource.Token);
        await Task.WhenAll(categoryTask);
        _sources = (await categoryTask).Data!;
    }

    void GenerateData()
    {
        Func<Guid, OutletItemGroupDto> getGroup = (groupId) =>
        {
            var data = Outlet?.ItemGroups.FirstOrDefault(x => x.ItemGroupId == groupId);
            return data is not null ? data : CreateNewGroup(groupId);
        };

        Func<ItemCategoryDto, OutletItemCategoryDto> getCategory = (cat) =>
        {
            var data = Outlet?.ItemCategories.FirstOrDefault(x => x.ItemCategoryId == cat.Id    );
            return data is not null ? data : CreateNewCategory(cat);
        };

        var groups = _sources
        .OrderBy(x => x.ItemGroup!.Name)
        .GroupBy(x => new { Id = x.ItemGroup!.Id, Name = x.ItemGroup!.Name })
        .Select(x => new KeyValuePair<ItemGroupDto, OutletItemGroupDto>(new ItemGroupDto { Id = x.Key.Id, Name = x.Key.Name }, getGroup(x.Key.Id))).ToList();
        groups.ReAssignSequence();
        _groups = groups;

        _categories = _sources
        .Select(x => new KeyValuePair<ItemCategoryDto, OutletItemCategoryDto>(x, getCategory(x))).ToList();
    }


    OutletItemCategoryDto CreateNewCategory(ItemCategoryDto ct)
    {
        var newCategory = new OutletItemCategoryDto() { 
            OutletId = Outlet!.Id, 
            IsActive = true,
            ItemCategoryId = ct.Id
        };
        Outlet.ItemCategories.Add(newCategory);
        return newCategory;
    }

    OutletItemGroupDto CreateNewGroup(Guid groupId)
    {
        var newGroup = new OutletItemGroupDto() { 
            OutletId = Outlet!.Id, 
            IsActive = true,
            ItemGroupId = groupId,
            UseAllItemCategories = true };
        Outlet.ItemGroups.Add(newGroup);
        return newGroup;
    }

    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
        _state.OnChange -= GenerateData;
    }

    void Move(bool isMoveUp) => _groups.SortObject(isMoveUp, selectedObject);

}
