@using LinoVative.Shared.Dto.MasterData.Payments
@using Linovative.Frontend.Services.FrontendServices

@inherits SearchableDropdownBase<PaymentMethodGroupViewDto?>

@inject IPaymentMethodGroupService _service
@inject IApplicationStateService _state
@inject IDialogService _dialogService
@inject IJsonLocalizer _loc

<MultiSelectContainer Open="@open" OnLayerClick="@(() => Toggle())">
    <LinovativeInputText
                  Immediate="true"
                  Value="@DisplayValue"
                  OnClick="@(() => Toggle())"
                  Placeholder="Accounts" 
                  Adornment="@Adornment.Start"
                  Clearable=true
                  ReadOnly="true"
                  LocalizerResource="@LocalizerResource"
                  ErrorKey="@ErrorKey"
                  LocalizerKey="@LocalizerKey"
                  ClearIcon="@Icons.Material.Filled.Close"
                  IconSize="@Size.Medium"
                  OnClearButtonClick="@(async () => await ClearSelect())"
                  Class="mt-0"></LinovativeInputText>

    @if (open)
    {
        <MudPaper Elevation="0" Class="@(open? "" : "d-none")" Style="position: absolute; width: 100%; left: 0px; top: 0px; border: none; margin-top: 68px">

            <MudTable ServerData="ServerReload" Dense="false" Hover="true" @ref="@table">
                <ToolBarContent>
                    <MudTextField T="string"
                                  @ref=@searchBox
                                  Immediate="true"
                                  ValueChanged="@(s=>OnSearch(s))"
                                  Placeholder="Search" Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                                  Class="mt-0"></MudTextField>
                </ToolBarContent>

                <HeaderContent>
                    <MudTh Style="width: 30px">
                        <MudCheckBox Value="@selectedAll" ValueChanged="SelectAll" T="bool"></MudCheckBox>
                    </MudTh>
                    <MudTh><MudTableSortLabel SortLabel="@(nameof(PaymentMethodGroupViewDto.Name))" T="PaymentMethodGroupViewDto">Name</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudCheckBox Value="@(IsSelected(context))" ValueChanged="@((e) => SelectRecord(e, context) )" T="bool"></MudCheckBox>
                    </MudTd>
                    <MudTd DataLabel="Name">@context.Name</MudTd>

                </RowTemplate>


                <NoRecordsContent>
                    <MudText>@_loc.Global("Message.NoMatchingRecordsFound")</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudText>@_loc.Global("Label.Loading")</MudText>
                </LoadingContent>
                <PagerContent>
                    <MudTablePager @onchange="@Reset" RowsPerPageString="@_loc.Global($"Label.RowsPerPage")" />
                </PagerContent>
                <FooterContent>
                    <MudTd colspan="5">@_loc.Global("Label.SelectedRecord"): @selectedItems.Count</MudTd>
                </FooterContent>
            </MudTable>
        </MudPaper>
    }
</MultiSelectContainer>
<div class="@(open? "" : "d-none")" @onclick="@(() => Toggle())" style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1000"></div>

<div style="position: relative; z-index: 1001">
    
</div>


@code {
    private List<PaymentMethodGroupViewDto> selectedItems { get; set; } = new();
    private CancellationTokenSource cts = new();
    private string? searchString = null;
    private MudTable<PaymentMethodGroupViewDto>? table;
    private bool selectedAll { get; set; }
    private List<PaymentMethodGroupViewDto> dataSource { get; set; } = new();
    private bool open = false;
    private MudTextField<string> searchBox { get; set; } = default!;
    private bool HasFirstLoad = false;


    [Parameter]
    public EventCallback<List<PaymentMethodGroupViewDto>> OnChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }

    void Toggle()
    {
        if (!open && !HasFirstLoad)
        {
            HasFirstLoad = true;
            OnSearch(searchString ?? "");
        }

        open = !open;
        _state.NotifyStateChanged();

    }

    async Task ClearSelect()
    {
        selectedItems = new();
        await OnChanged.InvokeAsync(selectedItems);
        _state.NotifyStateChanged();
    }

    void Reset()
    {
        selectedAll = false;
        _state.NotifyStateChanged();
    }


    private void OnSearch(string text)
    {
        searchString = text;
        table?.ReloadServerData();
    }

    private async Task<TableData<PaymentMethodGroupViewDto>> ServerReload(TableState state, CancellationToken token)
    {
        selectedAll = false;

        var odataFilter = new ODataFilter()
            {
                PageNumber = state.Page + 1,
                PageSize = state.PageSize,
                OrderFiled = state.SortLabel,
                SortDirection = state.SortDirection == SortDirection.None ? null : state.SortDirection.ToString(),
                Options = searchString is null ? null : $"$filter=contains(tolower(name), tolower('{searchString}'))"
            };

        var result = await _service.Get(odataFilter, cts.Token);
        dataSource = result?.Data ?? new();
        var datasourceIds = dataSource.Select(x => x.Id).ToList();
        selectedAll = selectedItems.Any() && !selectedItems.Any(x => !datasourceIds.Contains(x.Id));
        _state.NotifyStateChanged();
        return new TableData<PaymentMethodGroupViewDto>() { TotalItems = result!.Count, Items = result.Data };
    }


    async Task SelectRecord(bool selected, PaymentMethodGroupViewDto data)
    {
        if (!selected)
        {
            selectedAll = false;
            selectedItems = selectedItems.Where(x => x.Id != data.Id).ToList();
            await OnChanged.InvokeAsync(selectedItems);
            return;
        }

        selectedItems.Add(data);
        await OnChanged.InvokeAsync(selectedItems);
        UpdateSelectedAll();

    }

    async Task SelectAll(bool select)
    {
        selectedAll = select;
        if (!select)
        {
            var datasourceIds = dataSource.Select(x => x.Id);
            selectedItems = selectedItems.Where(x => !datasourceIds.Contains(x.Id)).ToList();
            await OnChanged.InvokeAsync(selectedItems);
            _state.NotifyStateChanged();
            return;
        }

        var selectedIds = selectedItems.Select(x => x.Id);
        var selectedData = !selectedIds.Any() ? dataSource : dataSource.Where(x => !selectedIds.Contains(x.Id)).ToList();
        selectedItems.AddRange(selectedData);
        await OnChanged.InvokeAsync(selectedItems);
        _state.NotifyStateChanged();
    }

    void UpdateSelectedAll()
    {
        var selectedIds = selectedItems.Select(x => x.Id);
        selectedAll = !dataSource.Where(x => !selectedIds.Contains(x.Id)).Any();
    }

    bool IsSelected(PaymentMethodGroupViewDto data) => selectedItems.Any(x => x.Id == data.Id);
    string DisplayValuePrefix => selectedItems.Count > 2 ? $"({selectedItems.Count}): " : "";
    string? DisplayValue => !selectedItems.Any() ? null : $"{DisplayValuePrefix} {string.Join(", ", selectedItems.Select(x => x.Name).Take(10))}";
}
